//
//	Breakpoint
//	http://breakpoint-sass.com
//-------------------------------------------------------

$breakpoint-to-ems: true;
$breakpoint-no-query-fallbacks: true;
$breakpoint-default-media: screen;

$xsmall:	320px;
$small:		480px;
$medium:	760px, 'no-query' '.lt-ie9';
$large:		960px, 'no-query' '.lt-ie9';
$xl:		1200px;
$xxl:		1400px;
$mega16:    1600px;
$mega:		1700px;
