//
// Variables
//___________________________________________________



//
// Global
//___________________________________________________

// color-option-1 : White
// color-option-2 : Blue
// color-option-3 : Green
// color-option-4 : Orange

.bg-gray {
	background: $quaternary-color;
}

.color-option-1 {
	background: white !important;
}

.color-option-2 {
	background: $blue;
	h1,h2,h3,h4,h5,h6,p,a,li {
		color: white !important;
	}
}

.color-option-3 {
	background: $green;
	h1,h2,h3,h4,h5,h6,p,a,li {
		color: white !important;
	}
}

.color-option-4,
.split.innerpage.color-option-4 {
	background: $orange;
	h1,h2,h3,h4,h5,h6,p,a,li {
		color: white !important;
	}
}

.color-option-5 {
	background: #FAFAFA;
}

input::placeholder {
	color: $gray-light;
}

input::-webkit-input-placeholder {
	color: $gray-light;
}
input:-moz-placeholder { /* older Firefox*/
	color: $gray-light;
}
input::-moz-placeholder { /* Firefox 19+ */
	color: $gray-light;
}
input:-ms-input-placeholder {
	color: $gray-light;
}


//
// Header
//___________________________________________________

.site-header {
	background: $primary-color;
	&.minify-header {
		@include breakpoint($medium) {
			background: $primary-color-opaque;
			box-shadow: 0 0.15em 0.15em rgba(0, 0, 0, 0.12);
		}
	}
}

.top-nav {
	a {
		color: $blue;
		transition: $transition-fast;
	}
	li.current_page_item > a,
	li.current_page_parent > a,
	li a:hover,
	li.current-page-ancestor > a,
	li.current-menu-ancestor > a {
		color: $green;
	}
	li {
		border-left: 1px solid $gray;
		&:first-child {
			border: none;
		}
	}
	.sub-menu {
		li {
			border: 0;
		}
		background: $gray-opaque;
		a {
			color: $blue;
			&:hover {
				color: $orange;
			}
		}
	}
	.wpml .txt,
	.search-box .txt {
		color: $gray-light;
	}

}

.minify-header .top-nav li {
	border-left: 1px solid #bbb;
	&:first-child {
		border: none;
	}
}

.site-header .search-form .search-field {
	border: 0;
}

.banner {
	background: $green;
	.h1 {
		color: $primary-color;
	}
}


//
// Footer
//___________________________________________________

.site-footer {
	background: $blue;
	color: $primary-color;
	a {
		color: $primary-color;
	}
	a.fa-stack {
		transition: all, 0.25s;
		color: $blue;
		border: 2px solid $primary-color;
		border-radius: 100px;
		&:hover {
			//color: $primary-color;
			border: 2px solid lighten($green,10%);
		}
		&:hover .fa-inverse {
			color: lighten($green,10%);
			// background: $primary-color;
			// border-radius: 100px;
		}
	}
	.fa-inverse {
		transition: all, 0.25s;
		color: $primary-color;
	}
	.imagebox a {
		transition: $transition;
		border-bottom: 1px solid $primary-color;
		&:hover {
			border-bottom: 1px solid transparent;
		}
	}
}

.site-info {
	background: $blue-dark;
}

//
// Mobile Nav
//___________________________________________________


.mobile-head {
	background: $secondary-color;
}

.icon-menu,
.icon-location {
	color: $primary-color;
}

.mobile-nav,
.mobile-contact {
	background: darken($secondary-color, 5%);;
	p,h3,a {
		color: $primary-color;
	}
}


.mobile-nav li {
	border-bottom: 1px solid $primary-color;
	.sub-menu li {
		border: 0;
	}
}



//
// Homepage
//___________________________________________________

.homepage {

	.qa .callouts li {
		span {
			transition: all, 0.25s;
		}
		&.blue span {
			background: $blue;
		}
		&.blue:hover span {
			background: lighten($blue, 8%);
		}
		&.green span {
			background: $green;
		}
		&.green:hover span {
			background: lighten($green, 8%);
		}
		&.orange span {
			background: $orange;
		}
		&.orange:hover span {
			background: lighten($orange, 8%);
		}
		span {
			color: white;
		}
	}

	.qa .content {
		h2,h6 {
			color: $blue;
		}
		p {
			color: $base-font-color;
		}
	}

	.services {
		background: $orange;
		h3,p,a,li {
			color: white;
		}
		.button:hover {
			background: lighten($orange,10%);
		}
	}

	.news-events {
		.row.news {
			border-bottom: 2px solid $gray;
		}
		h3 {
			color: $blue;
		}

		.news {
			h1 {
				transition: all, 0.75s;
				background: url(../img/global/line-orange.png) no-repeat center bottom;
				@include breakpoint($medium) {
					background: url(../img/global/line-orange.png) no-repeat left bottom;
				}
				&:hover {
					@include breakpoint($medium) {
						background-position: 15px bottom;
					}
				}
			}
			a.read-more {
				transition: all, 0.5s;
				border-bottom: 2px solid transparent;
				&:hover {
					border-bottom: 2px solid $orange;
				}
			}
			a {
				color: $orange;
			}
			.date {
				border: 3px solid $orange;
				.month,
				.day {
					color: $orange;
				}
			}

		}
		.events {
			h1 {
				transition: all, 0.75s;
				background: url(../img/global/line-green.png) no-repeat center bottom;
				@include breakpoint($medium) {
					background: url(../img/global/line-green.png) no-repeat left bottom;
				}
				&:hover {
					@include breakpoint($medium) {
						background-position: 15px bottom;
					}
				}
			}
			a {
				color: $green;
			}
			a.read-more {
				transition: all, 0.5s;
				border-bottom: 2px solid transparent;
				&:hover {
					border-bottom: 2px solid $green;
				}
			}
			.date {
				border: 3px solid $green;
				.month,
				.day {
					color: $green;
				}
			}
		}
	}

}//.homepage


//
// Content
//___________________________________________________

.entry-content,
.slide-content {
	h1 {
		color: lighten($secondary-color,40%);
		&:after {
			background: lighten($secondary-color,40%);
		}
	}
}
.entry-content {
	p,li,td,h4,h6 {
		color: $base-font-color;
	}
	h1,h2,h3,h6,
	.term-description p, {
		color: $blue;
	}
	p.author {
		color: lighten($secondary-color,40%);
	}
	a {
		color: $orange;
	}
	hr {
		border: 0;
    	height: 1px;
    	background: #979797;
    	margin: 4em 0;
	}
}//.entry-content

.split.innerpage {
	// background: $secondary-color;
	// color: $primary-color;
	// h1,p {
	// 	color: $primary-color;
	// }
}

.parallax {
	color: $primary-color;
	h4 {
		color: $primary-color;
	}
	&.ie8plax {
		background-color: #F6F6F6;
		background-color: rgba(238,238,238,0.5);
	}
}

.three-col-full {
	.col h2,
	.col h3,
	.col p {
		color: $primary-color;
	}
	.col {
		&:first-child {
			background: $blue;
		}
		&:nth-of-type(2) {
			background: $green;
		}
		&:last-child {
			background: $orange;
		}
	}

}

.button,
input[type="submit"],
.entry-content .button,
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button {
	transition: $transition-fast;
	background: transparent;
	color: $primary-color;
	border: 2px solid white;
	// &:hover {
	// 	background: lighten($secondary-color,40%);
	// }
	.arrow {
		@include image-replace(17px,17px);
		display: inline-block;
		background: url(../img/global/arrow-white.png) no-repeat center center;
		background: url(../img/global/arrow-white.svg) no-repeat center center, none;
	}
	&.brochure {
		border: 2px solid $blue;
		color: $blue;
		.arrow {
			background: url(../img/global/arrow-blue.png) no-repeat center center;
			background: url(../img/global/arrow-blue.svg) no-repeat center center, none;
		}
	}

}

.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button {
	background: $green;
}

.woocommerce .brochure a.button:hover {
	background: $blue;
	color: white;
	.text {
		border-right: 2px solid white;
	}
	.arrow {
		background: url(../img/global/arrow-white.png) no-repeat center center;
		background: url(../img/global/arrow-white.svg) no-repeat center center, none;
	}
}

// .button, input[type="submit"],
.gform_wrapper.gform_wrapper .gform_footer input.button,
.gform_wrapper.gform_wrapper .gform_footer input[type=submit] {
	background: $orange;
	color: white;
	border: 0;
	&:hover {
		background: $green;
	}
}


//
// Slideshows
//___________________________________________________

.slide-content {
	background: $secondary-color;
	background: rgba(0,0,0,0.6);
	color: white;
	h1,h4 {
		color: white;
	}
}


//
// Hero
//___________________________________________________

.entry-content .hero {
	.inner {
		background: $secondary-color;
		background: rgba(0,0,0,0.65);
	}
}


//
// Sidebar
//___________________________________________________

// .sidebar-nav {
// 	a {
// 		transition: all, 0.25s;
// 		color: $primary-color;
// 		background: $quaternary-color;
// 		border-bottom: 1px solid $primary-color;
// 	}

// 	a:hover,
// 	li.current_page_item a {
// 		background: lighten($secondary-color,40%);
// 	}

// }

.inner-sidebar-nav,
.sidebar-nav.blog ul {
	a {
		transition: all, 0.25s;
		color: $gray-medium;
	}
	a:hover,
	li.current_page_item a {
		color: $green;
	}
	li {
		border-bottom: 1px solid $gray-lighter;
	}
}

//
// Widgets
//___________________________________________________




//
// Blog
//___________________________________________________

.entry-header {
	.entry-title a {
		color: $blue;
		transition: $transition-fast;
		&:hover {
			color: $green;
		}
	}
}

.entry-footer {
	.comments-link,
	.edit-link {
		background: $quaternary-color;
		border: 1px solid darken($primary-color, 5%);
		color: $primary-color;
		a {
			color: $primary-color;
		}
	}

}

.nav-links {
	a {
		color: $link-color;
	}
}

.blog-page article {
	border-bottom: 1px solid darken(#eee,15%);
}

.tags a {
	transition: $transition-fast;
	background: $gray-light;
	color: $primary-color;
	&:hover {
		background: $gray-medium;
		color: $primary-color;
	}
}


//
// Comments
//___________________________________________________

#respond {
	background: darken($primary-color, 5%);

	a {
		color: $link-color;
	}
}

#respond .required {
	color: $red-dark;
}

#respond input[type=text],
#respond input[type=email],
#respond input[type=url],
#respond textarea {
	transition: $transition-faster ease-in-out;
	border: 1px solid lighten($secondary-color, 62%);
}

#respond input[type=text]:focus,
#respond input[type=email]:focus,
#respond input[type=url]:focus,
#respond textarea:focus {
	box-shadow: 0 0 5px darken($primary-color, 50%);
	border: 1px solid darken($primary-color, 5%);
}

ol.comment-list li.comment div.comment-meta a {
	color: $link-color;
}

ol.comment-list li.even {
	background: $primary-color;
}

ol.comment-list li.odd {
	background: darken($primary-color, 5%);
}

.form-submit input[type="submit"] {
	transition: all, 0.25s;
	cursor: pointer;
	background: $blue;
	&:hover {
		color: $orange;
	}
}



//
// Locations
//___________________________________________________

.location-list.location-list {
	border: 1px solid $secondary-color;
	li {
		transition: $transition-fast;
		border: 1px solid $secondary-color;
		background: $primary-color;
		&:last-child {
			border-bottom: 0;
		}
		&:hover {
			background: darken($primary-color, 5%);
		}
		&.active-location {
			background: $quaternary-color;
		}
	}
}
