//
//	All type styles for the size should be here
//-------------------------------------------------------


//
// Extends
//___________________________________________________

%font-light {
	font-weight: 300;
}

%font-semibold {
	font-weight: 600;
}

%font-bold {
	font-weight: 700;
}

//
// Base
//___________________________________________________

html {
	font-size: 62.5%;
	font-family: $base-font-family;
	font-weight: 400;
}

body {
	-webkit-font-smoothing: antialiased;
}

h1,h2,h3,h4,h5,h6 {
	font-family: $heading-font-family;
}


sup {
	vertical-align: super;
}

sub {
	vertical-align: sub;
}

strong,b {
	font-weight: bold;
}

em,i {
	font-style: italic;
}
i.fa {
	font-style: normal;
}

a:hover {
	text-decoration: none;
}

p, li, td {
	@include font-size(14);
	line-height: 175%;
	@include breakpoint($medium) {
		@include font-size(16);
	}
	@include breakpoint($large) {
		@include font-size(17);
	}
}

p,table {
	margin-bottom: 1em;
}

ul,ol {
	margin-bottom: 2em;
}

ul {
	list-style: square;
	margin-left: 6em;
}

ol {
	list-style: decimal;
	margin-left: 6em;
}

li {
	margin-bottom: 0.25em;
}


h1 {
	margin-bottom: 0.5em;
	// padding-bottom: 0.5em;
	position: relative;
	line-height: 120%;
	@include font-size(38);
	@extend %font-light;
	@include breakpoint($medium) {
		@include font-size(48);
	}
	@include breakpoint($large) {
		@include font-size(54);
	}
	// &:after {
	// 	content:"";
	// 	position: absolute;
	// 	bottom: 0;
	// 	left: 0;
	// 	height: 1px;
	// 	width: 20%;
	// 	@include breakpoint($medium) {
	// 		width: 10%;
	// 	}
	// }
}

h2 {
	@extend %font-light;
	margin-bottom: 0.5em;
	line-height: 120%;
	@include font-size(28);
	@include breakpoint($medium) {
		@include font-size(35);
	}
	// @include breakpoint($large) {
	// 	@include font-size(35);
	// }
}

h3 {
	margin-bottom: 0.5em;
	line-height: 120%;
	// text-transform: uppercase;
	@include font-size(22);
	@extend %font-light;
	@include breakpoint($medium) {
		@include font-size(24);
	}
}

h4 {
	margin-bottom: 1em;
	line-height: 190%;
	@include font-size(16);
	@include breakpoint($medium) {
		@include font-size(22);
	}
}

h5 {
	line-height: 120%;
	margin-bottom: 1em;
	@include font-size(20);

}

.term-description p,
h6,
.gform_confirmation_message {
	line-height: 160%;
	margin-bottom: 2em;
	@include font-size(21);

}



p + h2,
p + h3,
p + h4,
p + h5,
p + h6 {
	margin-top: 1em;
}

blockquote {
	background: url(../img/default/quote.png) no-repeat top left;
	p {
		@include font-size(21);
		&.author {
			@include font-size(16);
			@extend %font-semibold;
		}
	}
}

.button,
input[type="submit"],
.gform_wrapper.gform_wrapper .gform_footer input.button,
.gform_wrapper.gform_wrapper .gform_footer input[type=submit],
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button {
	text-transform: uppercase;
	text-decoration: none;
	@include font-size(13);
	// font-weight: bold;
}

input::placeholder {
	@include font-size(14);
}

input::-webkit-input-placeholder {
	@include font-size(14);
}
input:-moz-placeholder { /* older Firefox*/
	@include font-size(14);
}
input::-moz-placeholder { /* Firefox 19+ */
	@include font-size(14);
}
input:-ms-input-placeholder {
	@include font-size(14);
}




//
// Header
//___________________________________________________

h1.site-title {
	margin: 0;
	padding: 0;
	font-size: inherit;
}

.top-nav li {
	@include font-size(12);
	@include breakpoint($large) {
		@include font-size(14);
	}
	.sub-menu {
		text-transform: none;
		@include font-size(13);
	}
	> a {
		padding: 0.5em 0;
	}
}

.site-header .search-form .search-field {
	line-height: 120%;
}

.banner .h1 {
	@extend %font-light;
	@include font-size(25);
	line-height: 130%;
	@include breakpoint($small) {
		//line-height: 0;
	}
	@include breakpoint($medium) {
		@include font-size(27);
	}
	@include breakpoint($large) {
		@include font-size(30);
	}
	@include breakpoint($xl) {
		@include font-size(35);
	}
	@include breakpoint($xxl) {
		@include font-size(40);
	}
}

//
// Footer
//___________________________________________________

.site-footer {
	.address {
		// @include font-size(15);
		@extend %font-light;
		h3 {
			@include font-size(13);
			@extend %font-light;
			margin-bottom: 0.35em;
			line-height: 160%;
		}
		p {
			@include font-size(13);
			line-height: 160%;
			margin-bottom: 0;
		}
		a[href^="tel"] {
			text-decoration: none;
			cursor: default;
		}
		.email {
			//margin-top: 0.75em;
			//display: inline-block;
			//margin-top: 1em;
			&:hover {
				text-decoration: none;
			}
		}
	}//.address
	.footer-nav li {
		@include font-size(15);
		margin-bottom: 0.25em;
	}
	.footer-nav a {
		@include font-size(15);
		@extend %font-semibold;
	}
	.site-info {
		@extend %font-light;
		@include font-size(11);
		.copyright {
			margin-bottom: 1em;
			@include breakpoint($medium) {
				margin-bottom: 0;
			}
		}
		.imagebox a {
			text-decoration: none;
		}
	}
}//.site-footer


//
// Mobile Nav
//___________________________________________________

.icon-menu,
.icon-location {
	@include font-size(30);
}

.mobile-nav ul li {
	margin: 0;
	@include font-size(18);
	text-transform: uppercase;
	@extend %font-semibold;
	a {
		text-decoration: none;
	}
	.sub-menu li {
		line-height: 100%;
		@include font-size(15);
		text-transform: none;
	}
}


//
// Mobile Contact
//___________________________________________________

.mobile-contact {
	h3 {
		@include font-size(22);
	}
	p {
		@include font-size(16);
	}
	a.tel {
		text-decoration: none;
	}
}


//
// Homepage
//___________________________________________________


.qa .content {
	h2 {
		@include font-size(25);
		@extend %font-light;
		@include breakpoint($medium) {
			@include font-size(30);
		}
		@include breakpoint($large) {
			@include font-size(35);
		}
	}
	h6 {
		@include font-size(16);
		@extend %font-light;
		margin-bottom: 1em;
		@include breakpoint($medium) {
			@include font-size(18);
		}
		@include breakpoint($large) {
			@include font-size(20);
		}
	}
	p {
		@include font-size(13);
		@extend %font-light;
		@include breakpoint($medium) {
			@include font-size(15);
		}
		@include breakpoint($large) {
			@include font-size(17);
		}
	}
}

.services .right li {
	@extend %font-light;
	line-height: 130%;
	@include breakpoint($medium) {
		@include font-size(12);
	}
	@include breakpoint($large) {
		@include font-size(14);
	}
	@include breakpoint($xl) {
		@include font-size(17);
	}
}

.services .left {
	text-align: center;
	@include breakpoint($medium) {
		text-align: left;
	}
	h3 {
		@include font-size(35);
		@extend %font-light;
	}
	p {
		@include font-size(17);
		@extend %font-light;
	}
}

.news-events {
	h1 {
		@include font-size(18);
		@extend %font-bold;
		margin-bottom: 0.75em;
    	padding-bottom: 1em;
		@include breakpoint($medium) {
			@include font-size(16);
		}
		@include breakpoint($large) {
			@include font-size(18);
		}
	}
	h3 {
		@include font-size(35);
		@extend %font-light;
		@include breakpoint($medium) {
			@include font-size(30);
		}
		@include breakpoint($large) {
			@include font-size(35);
		}
	}
	p {
		@include font-size(17);
		@extend %font-light;
		line-height: 130%;
		margin-bottom: 0.5em;
		@include breakpoint($medium) {
			@include font-size(14);
		}
		@include breakpoint($large) {
			@include font-size(17);
		}
	}
	a {
		text-decoration: none;
		&.read-more {
			font-weight: 400;
		}
	}

	.desc {
		text-align: center;
		margin-bottom: 2em;
		@include breakpoint($medium) {
			text-align: left;
			margin-bottom: 0;
		}
	}
	.more,
	.read-more {
		text-transform: uppercase;
		@include font-size(14);
		@include breakpoint($medium) {
			@include font-size(11);
		}
		@include breakpoint($large) {
			@include font-size(14);
		}
	}
	.date {
		text-align: center;
		display: block;
		line-height: 120%;
		padding: 0.1em 0.2em 0.45em;
		.month,
		.day {
			display: block;
		}
		.month {
			text-transform: uppercase;
			@include font-size(13);
			@extend %font-bold;
		}
		.day {
			@include font-size(24);
			@extend %font-semibold;
		}
	}
	ul {
		text-align: center;
		@include breakpoint($medium) {
			text-align: left;
		}
	}
}



//
// Sidebar
//___________________________________________________

.sidebar {

	.sidebar-nav a {
		@include font-size(18);
	}

	.widget h4,
	h1.widget-title {
		margin-bottom: 0.5em;
		@include font-size(18);
		@include breakpoint($medium) {
			@include font-size(20);
		}
	}
	.widget li {
		@include font-size(16);
	}

}//.sidebar

.widget select {
	width: 100%;
}

//
// Blog
//___________________________________________________

.entry-header {
	@include font-size(14);
	.entry-title a {
		text-decoration: none;
	}
}

.entry-footer {
	span {
		@include font-size(15);
		a:hover {
			text-decoration: none;
		}
	}
	.cat-links,
	.tags-links {
		margin-bottom: 1em;
	}
	.comments-link,
	.edit-link {
		text-transform: uppercase;
		text-align: center;
		display: block;
		a {
			text-decoration: none;
		}
	}

}

.sidebar .tags.widget {
	a {
		text-decoration: none;
	}
	h4 {
		margin-bottom: 1em;
	}
	li {
		@include font-size(11);
	}
}

.nav-links {
	a {
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
	@include font-size(15);
	.nav-previous a:before {
		content: "« ";
	}
	.nav-next a:after {
		content: " »";
	}
}

#respond input[type=text],
#respond input[type=email],
#respond input[type=url],
#respond textarea {
	@include font-size(14);
}

.form-allowed-tags.form-allowed-tags {
	@include font-size(13);
}


//
// Modules
//___________________________________________________

.parallax h4 {
	text-align: center;
	@include font-size(16);
	line-height: 155%;
	margin-bottom: 1em;
	@include breakpoint($medium) {
		@include font-size(18);
		margin-bottom: 1em;
	}
	@include breakpoint($large) {
		@include font-size(22);
	}
}

.hero .hero-speaks {
	h1 {
		padding-bottom: 0;
		@include breakpoint($xl) {
			@include font-size(75);
		}
	}
	h3 {
		margin-bottom: 1.5em;
		@include font-size(20);
		@include breakpoint($large) {
			@include font-size(30);
		}
		@include breakpoint($xl) {
			@include font-size(40);
		}
	}
}

.split.innerpage {
	h1 {
		@include font-size(24);
		padding-bottom: 0;
		@include breakpoint($medium) {
			@include font-size(22);
		}
		@include breakpoint($large) {
			@include font-size(28);
		}
		@include breakpoint($xl) {
			@include font-size(30);
		}
	}
	p {
		@include font-size(14);
		line-height: 180%;
		margin-bottom: 0;
		@include breakpoint($medium) {
			@include font-size(11);
		}
		@include breakpoint($large) {
			@include font-size(13);
		}
		@include breakpoint($xl) {
			@include font-size(17);
		}
	}
}

.three-col-full {
	p,
	h3 {
		text-align: center;
	}
	h3 {
		font-weight: 400;
		text-transform: uppercase;
		@include font-size(20);
	}
	p {
		@include font-size(16);
		@include breakpoint($medium) {
			@include font-size(15);
		}
		@include breakpoint($large) {
			@include font-size(18);
		}
	}
}

.blog-posts.blog-posts {
	h2 {
		@include font-size(28);
		margin-bottom: 1.25em;
	}
	.date {
		display: block;
		@include font-size(18);
		font-weight: 700;
		margin-bottom: 1em;
	}
	h1 {
		@include font-size(30);
		margin-bottom: 0.5em;
	}
	p {
		@include font-size(16);
		line-height: 120%;
	}
	a {
		text-decoration: none;
	}
}

.location-list.location-list .button {
	@include font-size(14);
}
