//
//
// 		MASTER VARIABLES!!!!1
//
//___________________________________________________


//
// Typography
//___________________________________________________

$base-font-family: 'Open Sans', Arial, sans-serif;
$heading-font-family: 'Open Sans', Arial, sans-serif;




//
// Colors
//___________________________________________________

$base-font-color: #2C2C2C;

$primary-color: #fff;
$secondary-color: #333;
$tertiary-color: #555;
$quaternary-color: #666;

$link-color: #E67202; //orange

$primary-color-opaque: rgba(255,255,255,0.9);

$red-dark: #B20000;

$blue-opaque: rgba(19,74,124,0.95);
$gray-opaque: rgba(233,233,233,0.9);

$blue: #00467E;
$blue-dark: #013661;
$orange: #E67202;
$green: #66B103;
$gray: #DBDBDB;
$gray-light: #9B9B9B;
$gray-medium: #505050;
$gray-lighter: #B3B3B3;
$orange-light: #FAA91B;

//
// Layout
//___________________________________________________

$padding: 1em;
$padding-medium: 2em;
$padding-large: 3.5em;
$padding-xl: 4.5em;

$vertical-padding: 2em 0;
$vertical-padding-medium: 5.5em 0;
$vertical-padding-large: 8em 0;

$horizontal-padding: 0 2em;
$horizontal-padding-medium: 0 4em;
$horizontal-padding-large: 0 6em;



//
// Design/Animation
//___________________________________________________


// default border radius
$border-radius: 10px;


// transitions
$transition: all, 1s;
$transition-fast: all, 0.5s;
$transition-faster: all, 0.25s;
$transition-slow: all, 2s;
$transition-slower: all, 2.5s;
