.woo-header {
	display: none;
	transition: $transition-fast;
	@include breakpoint($medium) {
		display: block;
	}
	@include clearfix;
	padding: 0.75em 0;
	background: #eee;
	ul {
		margin: 0;
		list-style: none;
		@include breakpoint($medium) {
			float: right;
			text-align: right;
			width: 75%;
		}
	}
	li {
		display: inline-block;
		margin-left: 1em;
		@include font-size(12);
	}
	a {
		transition: $transition-fast;
		text-decoration: none;
		color: #444;
		border-bottom: 1px solid transparent;
		&:hover {
			border-bottom: 1px solid #444;
		}
	}
	.welcome {
		@include breakpoint($medium) {
			float: left;
			width: 25%;
		}
		p {
			@include font-size(12);
			margin: 0;
		}
	}
}//.woo-header