.product-archive-fix {
	overflow: hidden;
	width: 100%;
	float: left;
}


.post-type-archive-product .page-title,
.woocommerce-ordering,
.product_meta .posted_in {
	display: none !important;
}

body.post-type-archive-product .sidebar,
body.tax-product_cat .sidebar {
	display: none;
	&.woo {
		display: block;
	}
}

.woocommerce .woocommerce-breadcrumb {
	@include font-size(16);
	@extend .wrap;
	margin-bottom: 1em;
}

body.single-product .site-main.simple {
	.sidebar.woo {
		display: none;
	}
	.entry-content {
		width: 100%;
		float: none;
	}
	padding-bottom: 0;

}

.product-results-return {
	margin: 1em 0;
	@include breakpoint($medium) {
		float: right;
	}
}

.woocommerce #content div.product div.images,
.woocommerce div.product div.images,
.woocommerce-page #content div.product div.images,
.woocommerce-page div.product div.images {
	@include breakpoint($medium) {
		@include grid(300,1200);
	}
}

.woocommerce #content div.product div.summary,
.woocommerce div.product div.summary,
.woocommerce-page #content div.product div.summary,
.woocommerce-page div.product div.summary {
	@include breakpoint($medium) {
		@include grid(860,1200);
	}
	.description p {
		color: $blue;
		line-height: 160%;
		margin-bottom: 0em;
		font-weight: 300;
		@include font-size(21);
		@include breakpoint($medium) {
			@include font-size(21);
		}
		@include breakpoint($large) {
			@include font-size(21);
		}
		@include breakpoint($xl) {
			@include font-size(21);
		}
	}
}



.product_meta .posted_in {
	transition: all, 0.25s;
	font-weight: 500;
	@include font-size(16);
	display: block;
	margin: 0 0 2.25em 0;
	color: #979797;
	a {
		text-decoration: none;
		border-bottom: 2px solid transparent;
		&:hover {
			border-bottom: 2px solid $orange;
		}
	}
}

.product-button-contact {
	@include breakpoint($medium) {
		position: relative;
		top: 1em;
	}
	img {
		margin: 0;
	}
}

.related.products {
	background: #F5F5F5;
	@extend .section;
	@include breakpoint($xl) {
		padding: 5.5em 0;
	}
	li {
		@include breakpoint($medium) {
			//margin-bottom: 0 !important;
			width: 14.66% !important;
			margin: 0 2% 2.992em 0 !important;
			clear: none !important;
		}
	}
	li img {
		//width: 190px !important;
		margin: 0 auto 1em !important;
	}
	li h2 {
		text-align: center;
		font-size: 0.8em !important;
	}
}

.product-results-return {
	transition: all, 0.25s;
	background: $blue;
	color: white;
	border: 0;
	text-transform: uppercase;
	padding: 1.15em 2em;
	@include font-size(13);
	border-radius: 10px;
	cursor: pointer;
	&:hover {
		background: lighten($blue, 10%);
	}
}

.product-ad,
.product-top {
	@include clearfix;
}

.product-ad {
	background: #DEDEDE;
	margin-bottom: 3em;
	@include breakpoint($medium) {
		margin-bottom: 5em;
	}
	img {
		margin: 0;
	}
}

.woocommerce div.product .woocommerce-tabs ul.tabs li {
	border-radius: 0;
}

.woocommerce div.product .woocommerce-tabs ul.tabs {
	margin-bottom: 3em;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li a {
	color: $blue !important;
	@include font-size(26);
	font-weight: 300;
}

.product_meta {
	@include font-size(12);
	color: $gray-medium;
}

.product-callout-buttons ul {
	list-style: none;
	margin: 0;
	li {
		margin: 0 0 1em 0;
		@include breakpoint($medium) {
			margin: 0 2em 0 0;
			display: inline-block;
		}
	}

}

.sidebar.woo {
	.filter-box {
		border: 1px solid #E5E5E5;
		margin-bottom: 2em;
		ul {
			margin-bottom: 0;
		}
	}
	h6 {
		border-bottom: 1px solid #E5E5E5;
		@include font-size(16);
		font-weight: bold;
		line-height: 130%;
		margin-bottom: 0;
		color: $blue;
		padding: 0.5em 0.75em;
		.fa-question-circle {
			@include font-size(18);
			// color: $blue;
			color: darken(#E9E9E9,5%);

		}
		span {
			cursor: pointer;
			text-align: center;
		}
	}
	.facetwp-checkbox {
		padding: 0.25em 0 0.15em 20px;
		@include font-size(16);
	}
	// .facetwp-loading {
	// 	display: none;
	// }

	.facetwp-facet {
		margin-bottom: 0;
		padding: 1em;
	}
	.facetwp-counter {
		display: none;
	}
}

.woocommerce ul.products li.product .button {
	display: none;
}

.woocommerce ul.products li h3 {
	// color: $blue-dark;
	color: #333;
	font-weight: bold;
}

.woocommerce ul.products li img {
	border: 1px solid $blue;
}

.facetwp-type-checkboxes {
	overflow: hidden !important;
	max-height: none !important;
	margin-bottom: 20px;
}

.highlight-facet {
	padding: 1em;
	background: #f7f7f7;
	margin-bottom: 20px;
	.facetwp-type-checkboxes {
		margin-bottom: 0;
	}
}

.woocommerce form .form-row input.input-text,
.woocommerce form .form-row textarea {
	border: 1px solid $blue;
	padding: .5em;
	@include font-size(16);	
}
