.banner {
	overflow: hidden;
	@include clearfix;
	//display: table;
	display: flex;
	align-items: center;
	width: 100%;
	padding: 2em 0;
	@include breakpoint($medium) {
		padding: 0;
	}

	&.banner--no-image {
		display: block;
		text-align: center;
		@include breakpoint($medium) {
			padding: 4.5em;
		}
		h1,h2,h3 {
			color: #fff;
			margin: 0;
		}
	}

	.title {
		display: block;
		text-align: center;
		width: 100%;
		// @include breakpoint($small) {
		// 	width: 25%;
		// 	float: left;
		// }
		@include breakpoint($medium) {
			width: 50%;
			float: left;
			padding: 0 0.5em;
		}
		@include breakpoint($large) {
			width: 25%;
		}
		.h1 {
			@include breakpoint($medium) {
				//@include vertical-align;
			}
		}
	}
	img {
		display: none;
		@include breakpoint($medium) {
			display: block;
			width: 50%;
			float: right;
		}
		@include breakpoint($large) {
			width: 75%;
		}
	}
}

body.term-glass .banner {
	background: $blue;
}

body.term-plastic .banner {
	background: $green;
}

body.term-other .banner {
	background: $orange;
}
