.blog-posts.blog-posts {
	@include clearfix;
	@extend .section;
	ul {
		margin: 0;
	}
	li {
		margin: 0;
		list-style: none;
		margin-bottom: 4em;
		@include breakpoint($medium) {
			margin-bottom: 0;
		}
	}//li
	.posts-one li {
		@include breakpoint($medium) {
			width: 100%;
		}
	}
	.posts-two li {
		@include breakpoint($medium) {
			float: left;
			@include grid(585,1200);
		}
		&:first-child {
			@include mright(30,1200);
		}
		&:last-child {
			margin-bottom: 0;
			@include breakpoint($medium) {
				float: right;
				margin-right: 0;
			}
		}
	}
	.posts-three li {
		@include breakpoint($medium) {
			float: left;
			@include grid(380,1200);
		}
		&:first-child {
			@include mright(30,1200);
		}
		&:last-child {
			margin-bottom: 0;
			@include breakpoint($medium) {
				float: right;
				margin-right: 0;
			}
		}
	}
	.posts-four li {
		@include breakpoint($medium) {
			float: left;
			@include grid(280,1200);
		}
		&:first-child,
		&:nth-child(2) {
			@include mright(27,1200);
		}
		&:last-child {
			margin-bottom: 0;
			@include breakpoint($medium) {
				float: right;
				margin-right: 0;
			}
		}
	}
	.blog-thumb {
		margin-bottom: 2em;
		img {
			margin: 0 auto;
			width: 100%;
		}
	}//.blog-thumb
}