//
// Global
//___________________________________________________

.button,
input[type="submit"],
.gform_wrapper.gform_wrapper .gform_footer input.button,
.gform_wrapper.gform_wrapper .gform_footer input[type=submit] {
	cursor: pointer;
	//border: 0;
	display: inline-block;
	padding: 1.15em 2em;
}

.ba {
	display: inline-block;
	.button,
	input[type="submit"],
	.gform_wrapper.gform_wrapper .gform_footer input.button,
	.gform_wrapper.gform_wrapper .gform_footer input[type=submit],
	.woocommerce #respond input#submit,
	.woocommerce a.button,
	.woocommerce button.button,
	.woocommerce input.button {
		padding: 0 !important;
		border-radius: 0 !important;
	}
	.text,
	.arrow {
		display: block;
		float: left;
	}
	.text {
		padding: 1em 1.15em 1em 1.15em;
		border-right: 2px solid white;
	}
	.arrow {
		width: 42px;
		height: 38px;
	}
	&.brochure .text {
		border-right: 2px solid $blue;
		padding-left: 5.5em;
	}
	&.brochure .arrow {
		width: 42px;
		height: 38px;
		padding: 1.5em;
	}
	&.brochure {
		position: relative;
		img {
			max-width: 62px;
			z-index: 50;
			background: white;
			position: absolute;
			left: 0;
			top: -20px;
			margin: 0;
			transform: rotate(-5deg);
			box-shadow: 0 0 0.15em rgba(0, 0, 0, 0.5);
		}
	}
}

.product-callout-buttons {
	margin: 3em 0;
	@include breakpoint($large) {
		margin: 0 0 2em 0;
	}
}

.woocommerce a.button.product-contact {
	background: $orange;
	color: white;
	text-decoration: none;
	padding: 1.15em 2em;
	border-radius: 0;
	transition: all, 0.5s;
	&:hover {
		background: lighten($orange,5%)
	}
	.fa {
		@include font-size(24);
		margin-right: 0.25em;
	}
}

.academy-button {
	color: $blue !important;
	border: 2px solid $blue !important;
	.text {
		border-right: 2px solid $blue !important;
	}
	.arrow {
		width: 42px !important;
    height: 38px !important;
		display: block !important;
    float: left !important;
		position: relative;
    top: .65em;
		background: url(../img/global/arrow-blue.png) no-repeat center center  !important;
		background: url(../img/global/arrow-blue.svg) no-repeat center center !important;
	}
}


//
// Locations
//___________________________________________________

.location-list.location-list .button {
	padding: 0.5em 1em;
}
