//
//	Carousels are handled w/ Cycle2
//	http://jquery.malsup.com/cycle2/
//-------------------------------------------------------

.cycle-pager {
	position: absolute;
	bottom: -4em;
	width: 100%;
	z-index: 9999;
	text-align: center;
	padding: 1em 0;
	span {
		cursor: pointer;
		width: 12px;
		height: 12px;
		color: transparent;
		display: inline-block;
		background: #D8D8D8;
		border-radius: 100px;
		margin: 0 1em;
		&.cycle-pager-active {
			background: $blue;
		}
	}
	@include breakpoint($medium) {
		
		width: 760px;
	}
	@include breakpoint($large) {
		width: 940px;
	}
	@include breakpoint($xl) {
		width: 1200px;
	}
	@include breakpoint($xxl) {
		width: 1400px;
	}
}

.arrow-paging {
	position: absolute;
	top: 45%;
	width: 100%;
	@include breakpoint($medium) {
		
		width: 760px;
	}
	@include breakpoint($large) {
		width: 940px;
	}
	@include breakpoint($xl) {
		width: 1200px;
	}
	@include breakpoint($xxl) {
		width: 1400px;
	}
	z-index: 9999;
	.arrow-wrap {

	}
	.prev,
	.next {
		position: absolute;
		z-index: 9999;
		@include image-replace(46px,46px);
	}
	.next {
		right: 3.5em;
		top: 50%;
		background: url(../img/home/slide-right.png) no-repeat;
		background: url(../img/home/slide-right.svg) no-repeat, none;
	}
	.prev {
		top: 50%;
		left: 3.5em;
		background: url(../img/home/slide-left.png) no-repeat;
		background: url(../img/home/slide-left.svg) no-repeat, none;
	}
}

.cycle-slideshow {
	width: 100%;
	height: auto;
	margin: 0 auto;
	z-index: 0;
	position: relative;
	@include breakpoint($medium) {
		
		width: 760px;
	}
	@include breakpoint($large) {
		width: 940px;
	}
	@include breakpoint($xl) {
		width: 1200px;
	}
	@include breakpoint($xxl) {
		width: 1400px;
	}
	// .wrap {
	// 	position: relative;
	// }
	.slide {
		display: none;
		&:first-child {
			display: block;
		}
		width: 100%;
		&.blue {
			background: $blue;
			color: white;
		}
		&.green {
			background: $green;
			color: white;
		}
		&.orange {
			background: $orange;
			color: white;
		}
		img {
			width: 100%;
			height: auto;
		}
		
		.slide > img, 
		.slide-caption { 
			@include breakpoint($medium) {
				position:absolute; 	
			}
		}
		.slide > img {
			@include breakpoint($medium) {
				min-width: 100%;
				min-height: 100%;
				width: auto;
				height: auto;
				top: 50%;
				left: 50%;
				transform: translate(-50%,-50%);
			}
		}
		img,
		.slide-caption {
			@include breakpoint($medium) {
				width: 50%;
			}
		}
		img {
			@include breakpoint($medium) {
				
			}
			&.right {
				@include breakpoint($medium) {
					float: right;
				}
			}
			&.left {
				@include breakpoint($medium) {
					float: left;
				}
			}
		}

		.slide-caption {
			h1 {
				@include font-size(25);
				@include breakpoint($medium) {
					@include font-size(28);
				}
				@include breakpoint($large) {
					@include font-size(30);
				}
				@include breakpoint($xl) {
					@include font-size(40);
				}
			}
			p {
				@include font-size(13);
				// @include breakpoint($medium) {
				// 	@include font-size(15);
				// }
				// @include breakpoint($large) {
				// 	@include font-size(17);
				// }
				@include breakpoint($xl) {
					@include font-size(17);
				}
			}
			@include breakpoint($medium) {
				top: 0;
			}
			&.right {
				@include breakpoint($medium) {
					right: 0;
				}
			}
			&.left {
				@include breakpoint($medium) {
					left: 0;
				}
			}
		}

		.slide-caption {
			padding: 5em;
			@include breakpoint($medium) {
				padding: 2em;	
			}
			@include breakpoint($large) {
				padding: 5em;
			}
			@include breakpoint($xl) {
				padding: 6em 7em;
			}
			@include breakpoint($xxl) {
				padding: 10em;
			}
		}

	}//.slide
}//.cycle-slideshow



//
// Owl Carousel
//___________________________________________________

.carousel-wrapper {
	@include clearfix;
	padding: 3.5em 0;
  	width: 100%;
  	float: left;
  	.wrap{
  		width:90%;
  	}
}

.owl-carousel {
	@include clearfix;
	position: relative;
	padding: 0 75px;
}

.owl-stage {
	width: 100%;
}

.owl-nav {
	.owl-next,
	.owl-prev {
		//@include image-replace(68px,68px);
		position: absolute;
		top: 20%;
		transition: all 0.5s;
		@include font-size(35);
		&:hover {
			opacity: 0.6;
		}
	}
	.owl-next {
		right: 0;
		//background: url(../img/global/carousel-next.png);
	}
	.owl-prev {
		left: 0;
		//background: url(../img/global/carousel-prev.png);
	}
}//.owl-nav

.owl-carousel .item {
	height: 70px;
}

.owl-carousel .item img {
	width: auto;
	display: block;
	margin: 0 auto;
}

.owl-carousel .item.no-link img,
.owl-carousel .item.link a {
	@include vertical-align;
	display: block;
}
