.fullwidth-column {
	@include clearfix;
	padding: 2em 0;
	@include breakpoint($medium) {
		padding: 4em 0;
	}
	@include breakpoint($large) {
		padding: 6em 0;
	}
	.wrap {
		margin: 0 auto;
		width: 90%;
		@include breakpoint($medium) {
			max-width: 620px;
		}
		@include breakpoint($large) {
			max-width: 700px;
		}
		@include breakpoint($xl) {
			max-width: 900px;
		}
	}
	&.has-sidebar .wrap {
		margin: 0 auto;
		width: 85%;
		@include breakpoint($medium) {
			width: auto;
			max-width: 760px;
		}
		@include breakpoint($large) {
			max-width: 940px;
		}
		@include breakpoint($xl) {
			max-width: 1200px;
		}
	}
	&.has-sidebar .column-content {
		@include breakpoint($medium) {
			@include grid(900,1200);
			float: right;
		}
	}
	&.has-sidebar .sidebar {
		display: none;
		@include breakpoint($medium) {
			display: block;
			@include grid(220,1200);
			float: left;
		}
	}
	&.no-bottom-padding {
		padding-bottom: 0;
	}
}

.no-bottom-padding + div,
.no-bottom-padding + section {
	padding-top: 0;
}

// Image and Blockquote Alignments
// .entry-content {
// 	.fullwidth-column .alignright {
// 		@include breakpoint($large) {
// 			margin-right: -3em;
// 		}
// 		@include breakpoint($xl) {
// 			margin-right: -10em;
// 		}
// 	}
// 	.fullwidth-column .alignleft {
// 		@include breakpoint($large) {
// 			margin-left: -3em;
// 		}
// 		@include breakpoint($xl) {
// 			margin-left: -10em;
// 		}
// 	}
// 	.fullwidth-column blockquote {
// 		&.left {
// 			@include breakpoint($medium) {
// 				float: left;
// 				max-width: 300px;
// 				padding: 2em 0 0 3em;
// 				margin: 1em 2em 2em 0;
// 			}
// 			@include breakpoint($large) {
// 				margin: 1em 3em 3em -3em;
// 			}
// 			@include breakpoint($xl) {
// 				margin-left: -10em;
// 			}
// 		}
// 		&.right {
// 			@include breakpoint($medium) {
// 				float: right;
// 				max-width: 300px;
// 				padding: 2em 3em 0 0;
// 				margin: 1em 0 2em 2em;
// 			}
// 			@include breakpoint($large) {
// 				margin: 1em -3em 3em 3em;
// 			}
// 			@include breakpoint($xl) {
// 				margin-right: -10em;
// 			}
// 		}
// 	}
// }
