// List of locations (below map)

.location-list.location-list {
	list-style: none;
	margin: 0;
	li {
		margin: 0;
		display: block;
		cursor: pointer;
		padding: 1em;
	}
}//.location-list


// stuff on the map

.acf-map {
	span.excerpt {
		display: none;
	}
	.location-info-block {
		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			line-height: 135%;
		}
		li {
			margin: 0;
		}
	}
}


// custom agr locations page-break-inside:

.location-ul {
	list-style: none;
	margin: 0;
	li ul {
		list-style: none;
		margin: 0;
	}
	> li {
		margin-bottom: 2em;
		@include breakpoint($medium) {
			float: left;
			@include grid(280,570);
			@include mright(10,570);
		}
		@include breakpoint($large) {
			@include grid(225,705);
			@include mright(10,705);
		}
		@include breakpoint($xl) {
			@include grid(215,900);
			@include mright(10,900);
		}

		&:nth-child(2n+2) {
			@include breakpoint($medium) {
				margin-right: 0;
			}
			@include breakpoint($large) {
				@include mright(10,705);
			}
			@include breakpoint($xl) {
				@include mright(10,900);
			}
		}
		&:nth-child(2n+3) {
			@include breakpoint($medium) {
				clear: left;
			}
			@include breakpoint($large) {
				clear: none;
				@include mright(10,705);
			}
			@include breakpoint($xl) {
				@include mright(10,900);
			}
		}
		&:nth-child(3n+3) {
			@include breakpoint($large) {
				margin-right: 0;
			}
			@include breakpoint($xl) {
				@include mright(10,900);
			}
		}
		&:nth-child(3n+4) {
			@include breakpoint($large) {
				clear: left;
			}
			@include breakpoint($xl) {
				clear: none;
			}
		}
		&:nth-child(4n+4) {
			@include breakpoint($xl) {
				margin-right: 0;
			}

		}
		&:nth-child(4n+5) {
			@include breakpoint($xl) {
				clear: left;
			}
		}
	}
	h3 {
		@include font-size(20);
	}
	li ul li {
		@include font-size(14);
	}
}

.filter--map {
	margin-bottom: 2em;
	.filter-body {
		margin-bottom: 2em;
		width: 100%;
	}
	// .filter-body .filter-item-grid {
	// 	display: flex;
	// 	align-items: center;
	// 	justify-content: space-between;
	// 	.filter-item {
	// 		width: 49%;
	// 	}
	// }
	.filter-container {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	label {
		@include font-size(18);
		font-weight: bold;
		display: block;
		margin-bottom: .45em;
	}

	.filter-footer button {
		background: $blue;
		&:hover {
			background: $orange;
		}
	}

	select,
	input[type="search"] {
		width: 100%;
		padding: .5em .75em;
		@include font-size(16);
		appearance: none;
		-webkit-appearance: none;
		border-radius: 5px;
		border: 2px solid $blue;
		background: #eee;
	}

	select {
		background: #eee url(../img/global/arrow-down-blue.png) no-repeat;
		background-size: 14px 10px;
		background-position: 97% center;
	}

}
