.grid {
	@include clearfix;
	overflow: hidden;
	margin-top: 3em;
	@include breakpoint($large) {
		margin-top: 5em;
	}
	.logo {
		vertical-align: middle;
		padding: 1em;
		width: 50%;
		height: 120px;
		float: left;
		@include breakpoint($medium) {
			width: 33.33333333333%;
		}
		@include breakpoint($large) {
			width: 25%;
		}
		img {
			width: auto;
			margin: 0 auto;
			@include vertical-align;
		}
		&:nth-child(2n+1) {
			clear: left;	
			@include breakpoint($medium) {
				clear: none;
			}
		}
		&:nth-child(3n+1) {
			@include breakpoint($medium) {
				clear: left;
			}
			@include breakpoint($large) {
				clear: none;
			}
		}
		&:nth-child(4n+1) {
			@include breakpoint($large) {
				clear: left;
			}
		}
		
	}
}//.logo-grid