.main-nav {
	@include clearfix;
	width: 100%;
	padding: 3em 0;
	ul {
		list-style: none;
		margin: 0;
	}
	li {
		position: relative;
		margin: 0;
		display: inline-block;
		margin-right: 1em;
	}
	.sub-menu {
		display: none;
		position: absolute;
		top: 1em; left: 0;
		background: darken(#eee,5%);
		min-width: 200px;
		padding: 1em;
		li {
			margin-right: 0;
		}
		li,a {
			display: block;
		}
	}
	// > li:last-child .sub-menu {
	// 	background: red;
	// }
	ul li:hover > .sub-menu {
		display: block;
	}
	ul.sub-menu li:hover > .sub-menu {
		left: 100%;
		top: 0;
	}
}
