//
//	The following styles are used to get the menus to
//	function properly. These should not be changed.
//	See further down this file for visual styles.
//-------------------------------------------------------

// Hide desktop navigation
.top-nav, .main-nav {
	display: none;
	@include breakpoint($medium) {
		display: block;
	}
}

// Mobile Header
.mobile-head {
	position: fixed;
	width: 100%;
	margin: 0;
	padding: 1em;
	overflow: hidden;
	z-index: 500;
	@include breakpoint($medium) {
		display: none;
	}
	.icon-menu {
		float: left;
	}
	.icon-location {
		float: right;
	}
}

// Reset styles
.mobile-nav ul {
	margin: 0;
	list-style: none;
	li {
		margin: 0;
	}
}

// Toggle effects/animation
#site-wrap {
	position: relative;
	overflow: hidden;
	width: 100%;
}

#canvas {
	width: 100%;
	height: 100%;
	position: relative;
	transition: 300ms ease all;
	@include breakpoint($medium) {
		transform: none;
	}
}

.show-nav #canvas {
	transform: translateX(300px);
	transform: translate3d(300px, 0, 0);
	@include breakpoint($small) {
		transform: translateX(400px);
		transform: translate3d(400px, 0, 0);
	}
}

.show-contact #canvas {
	transform: translateX(-300px);
	transform: translate3d(-300px, 0, 0);	
	@include breakpoint($small) {
		transform: translateX(-400px);
		transform: translate3d(-400px, 0, 0);	
	}
}

#mobile-nav {
	position: absolute;
	top: 0;
	left: -300px;
	width: 300px;
	@include breakpoint($small) {
		left: -400px;
		width: 400px;
	}
	height: 100%;
}

#mobile-contact {
	position: absolute;
	top: 0;
	right: -300px;
	width: 300px;
	@include breakpoint($small) {
		right: -400px;
		width: 400px;
	}
	height: 100%;
}

.mobile-nav a {
	display: block;
}

//
//	Styles - Begin Editing Here
//-------------------------------------------------------

.mobile-head {
	padding: 1em;
}

.mobile-nav ul {
	a {
		padding: 0.75em;
	}
	.sub-menu {
		display: none;
		padding-bottom: 0.75em;
		a {
			padding: 0 1em 0.5em 2.25em;
		}
	}
}

.mobile-contact {
	padding: 3em;
}
