.parallax {
	height: 200px;
	position: relative;
	@include breakpoint($medium) {
		background-attachment: fixed;
		background-position: center center;
		height: 300px;
	}
	@include breakpoint($large) {
		height: 350px;
	}
	@include breakpoint($xl) {
		height: 400px;
	}
	background-size: cover;
	&.has-content {
		padding: 3.5em 0;
		height: auto;
		@include breakpoint($medium) {
			padding: 6em 0;
		}
		@include breakpoint($large) {
			padding: 12em 0;
		}
		@include breakpoint($xl) {
			padding: 16em 0;
		}
	}
  	
	
	
	&.ie8plax {
		background-repeat: no-repeat;
		background-size: auto;
		background-position: center center;
	}
	.button {
		display: block;
		margin: 0 auto;
		width: 20%;
		text-align: center;
	}
	.wrap {
		max-width: 850px;
	}
}

.overlay-wrap {
	position: relative;
	.wrap {
		position: relative;
		z-index: 20;
	}
}
.overlay {
	z-index: 10;
	position: absolute;
	width: 100%; height: 100%;
	background-size: cover;
	background: url(../img/global/overlay.png) repeat;
}