.white-popup {
    position: relative;
    background: #FFF;
    padding: 20px 40px;
    width: auto;
    max-width: 800px;
    margin: 20px auto;
    border-radius: 4px;
    h6 {
        color: $blue;
        margin-bottom: 1em;
        padding-bottom: 1em;
        @include font-size(29);
        font-weight: 300;
        border-bottom: 1px solid $blue;
    }
    p {
        @include font-size(18);
        margin-bottom: 0.5em;
        strong {
            color: $blue;
        }
    }
    .mfp-close {
        @include image-replace(36px,36px);
        background: url(../img/sidebar/close.png) no-repeat;
        opacity: 1;
        top: 10px;
        right: 10px;
    }
}
