.ret-top {
    display: none;
    width: 35px;
    height: 35px;
    position: fixed;
    bottom: 20px;
    right: 10px;
    background: url(../img/global/go-up.png) no-repeat;
    background-size: 35px 35px;
    cursor: pointer;
    opacity: 0.5;
    @include breakpoint($medium) {
        background: url(../img/global/go-up.png) no-repeat;
        background-size: 65px 65px;
        bottom: 80px;
        right: 20px;
        width: 65px;
        height: 65px;
    }
    @include breakpoint($xxl) {
        right: 80px;
    }
}
