.split.innerpage {
	overflow: hidden;
	.content,
	.image {
		@include breakpoint($medium) {
			width: 50%;
			float: left;
		}
	}
	.content .inner {
		padding: 5em 5em 5em 0;
		@include breakpoint($medium) {
			padding: 1em 2em 1em 0;
		}
		@include breakpoint($large) {
			padding: 3em 3em 3em 0;
		}
		@include breakpoint($xl) {
			padding: 4em 4em 4em 0;
		}
	}
	.image {
		padding-bottom: 5em;
		@include breakpoint($medium) {
			padding-bottom: 0;
		}
	}
	.image img {
		margin: 0;
	}
	
}