.three-col-full {
	@include clearfix;
	text-align: center;
	.col {
		padding: 3em;
		@include breakpoint($medium) {
			//padding: 4em;
			float: left;
			width: calc(100% / 3);
		}
		@include breakpoint($large) {
			padding: 7.5em;
		}
		@include breakpoint($xl) {
			padding: 10em;
		}
	}

}//.three-col-full