.top-nav {
	display: none;
	ul {
		list-style: none;
		margin: 0;
		text-align: right;
	}
	li {
		position: relative;
		margin: 0;
		display: inline-block;
		margin-left: 0.65em;
		padding-left: 0.65em;
		@include breakpoint($large) {
			margin-left: 1em;
			padding-left: 1em;
		}
		&:first-child {
			margin-left: 0;
		}
		&:last-child {
			//margin-right: 0;
		}
	}
	a {
		display: block;
		text-decoration: none;
	}
	.sub-menu {
		z-index: 100;
		display: none;
		position: absolute;
		top: 2em; left: 0;
		min-width: 200px;
		@include breakpoint($large) {
			min-width: 250px;
		}
		@include breakpoint($xl) {
			min-width: 280px;
		}
		padding: 0.5em;
		li {
			text-align: left;
			margin-left: 0;
		}
		li,a {
			display: block;
		}
	}
	li:last-child .sub-menu {
		right: 0;
		left: auto;
	}
	ul li:hover > .sub-menu {
		display: block;
		li {
			border: 0;
		}
	}
	ul.sub-menu li:hover > .sub-menu {
		left: 100%;
		top: 0;
	}
}

.top-nav li.logged-in {
	display: none;
}

body.logged-in .top-nav li.logged-in {
	display: block;
}

body.logged-in .top-nav li.logged-out {
	display: none;
}
