.gform_wrapper input[type=text],
.gform_wrapper input[type=url],
.gform_wrapper input[type=email],
.gform_wrapper input[type=tel],
.gform_wrapper input[type=number],
.gform_wrapper input[type=password],
.gform_wrapper textarea {
    font-size: 12px !important;
    font-size: 1.2rem !important;
    padding: 0.25em !important;
}
