//
//	Footer
//-------------------------------------------------------

.site-footer {
	width: 100%;

}

.primary-footer {
	@include clearfix;
	padding: 3em 0;
	@include breakpoint($medium) {
		padding: 4.5em;
	}
	@include breakpoint($large) {
		padding: 7em 0;
	}
}

.logo {
	@include image-replace(130px,48px);
	background: url(../img/global/logo-white.png) no-repeat;
	background: url(../img/global/logo-white.svg) no-repeat, none;
	margin: 0 auto 2em;
	@include breakpoint($medium) {
		margin: 0 1em 0 0;
		float: left;
		//@include grid(200,1200);
	}
}





.address {
	text-align: center;
	margin-bottom: 2em;
	@include breakpoint($medium) {
		margin-bottom: 0;
		float: left;
		text-align: left;
		@include grid(550,1200);
		margin-left: 4em;
	}
	.addy,
	.footer-fax-email {
		@include breakpoint($medium) {
			float: left;
			width: 50%;
		}
		@include breakpoint($large) {
			width: 38%;
		}
		@include breakpoint($xl) {
			width: 30%;
		}
	}
}

.social-media {
	text-align: center;
	@include breakpoint($medium) {
		@include grid(190,760);
		float: right;
		text-align: right;
	}
	// @include breakpoint($large) {
	// 	@include grid(340,960);
	// }
	// @include breakpoint($xl) {
	// 	@include grid(160,1200);
	// }
	a {
		margin: 0 0.25em;
		@include breakpoint($medium) {
			margin: 0 0 0 0.5em;
		}
		@include breakpoint($large) {
			margin: 0 0 0 1em;
		}
	}
}

//
//	Copyright/Imagebox Credits
//-------------------------------------------------------
.site-info {
	@include clearfix;
	text-align: center;
	padding: 2em 0;
	@include breakpoint($medium) {
		padding: 3em 0;
		text-align: left;
	}
	@include breakpoint($large) {
		padding: 3em 0;
	}
	.copyright,
	.imagebox {
		@include breakpoint($medium) {
			width: 50%;
			float: left;
		}
	}
	.imagebox {
		@include breakpoint($medium) {
			text-align: right;
		}
	}
}


//
//	Footer Ad
//-------------------------------------------------------

.footer-ad {
	padding: 3em 0;
	background: white;
	// background: lighten($gray-lighter,15%);
	a {
		display: block;
		margin: 0 auto;
		max-width: 1200px;
		transition: all, 0.5s;
		opacity: 1;
		&:hover {
			opacity: 0.7;
		}
	}
	img {
		margin: 0 auto;
		display: block;
	}

}

body.single-product .footer-ad.global {
	display: none;
}

.footer-callout-sticky {
	position: fixed;
	bottom: 0;
	z-index: 800;
	width: 100%;
	text-align: center;
	opacity: 1;
	transition: all, .5s;
	@include breakpoint($medium) {
		text-align: left;
	}
	.wrap {
		@include breakpoint($medium) {
			display: flex;
			align-items: center;
			max-width: 940px;
		}
	}
	.copy {
		@include breakpoint($medium) {
			width: 70%;
		}
	}
	a {
		transition: background, .5s;
		background: rgb(16,73,126);
		background: linear-gradient(90deg, rgba(16,73,126,1) 0%, rgba(19,47,84,1) 100%);
		padding: 5em 2em;
		color: white;
		display: block;
		text-decoration: none;
		&:hover {
			background: rgb(23,108,186);
			background: linear-gradient(90deg, rgba(23,108,186,1) 0%, rgba(19,47,84,1) 100%);
		}
	}
	&.fadeOut {
		opacity: 0;
		z-index: -100;
		//display: none;
	}
	h3 {
		font-weight: bold;
		@include font-size(24);
		margin: 0;
	}
	h4 {
		margin: 0;
	}
}

.cookie-notice-container {
	padding: 1.75em 3.5em;

	.cn-text-container {
		font-size: 15px;
	}

	.cn-close-icon {
		right: 7px;
    top: 15%;
	}

	.cn-button {
		background: $blue;
		color: #fff;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 16px;
		padding: .15em 1.25em;
	}
}
