//
//	Base layout
//-------------------------------------------------------

.site {
	overflow: hidden;
	min-height: 100%;
	min-width: 100%;
}

.site-content {
	overflow: hidden;
	position: relative;
	@include breakpoint($medium) {
		margin-top: 135px; // adjust for sticky header size	
	}
	
}

.site-header,
.site-footer,
.body-content {
	@include clearfix;
}

.wrap {
	//overflow: hidden;
	margin: 0 auto;
	width: 85%;
	@include breakpoint($medium) {
		width: auto;
		max-width: 760px;
	}
	@include breakpoint($large) {
		max-width: 940px;
	}
	@include breakpoint($xl) {
		max-width: 1200px;
	}
	// @include breakpoint($mega) {
	// 	max-width: 1600px;
	// }
}

.lt-ie9 .wrap {
	max-width: 940px;
}

.section {
	@include clearfix;
	padding: $vertical-padding;
	@include breakpoint($medium) {
		padding: $vertical-padding-medium;
	}
	@include breakpoint($large) {
		padding: $vertical-padding-large;
	}
	&.three-col-full {
		padding: 0;
	}
}

