//
//	Header
//-------------------------------------------------------

.site-header {
	transition: all, 0.25s;
	z-index: 50;
	text-align: center;

	//background: teal;
	// height: 150px;
	@include breakpoint($medium) {
		//height: auto;
		height: 135px;
		text-align: left;
		position: fixed;
		width: 100%;
		z-index: 100;
	}
	.site-title {
		//height: 150px;
		margin-top: 50px;
		padding: 2em 0;
		@include breakpoint($medium) {
			padding: 0;
			margin-top: 0;
			//height: auto;
		}
	}
	.site-title a {
		margin: 0 auto;
		@include image-replace(164px,61px);
		background: url(../img/global/logo.png) no-repeat;
		background: url(../img/global/logo.svg) no-repeat, none;
		opacity: 1;
		//transition: opacity, 0.25s;
		position: relative;
		&:hover {
			opacity: 0.8;
		}
		@include breakpoint($medium) {
			margin: 0;
			top: 4.25em;
		}

	}
	.site-branding {
		//overflow: hidden;
		@include breakpoint($medium) {
			@include grid(200,1200);
			float: left;
		}
	}
	.top-nav {
		@include breakpoint($medium) {
			transition: all, 0.25s;
			@include grid(1000,1200);
			float: right;
			padding: 2.78em 0;
		}
		.lang-search {
			float: right;
			margin-bottom: 2em;
			#lang_sel a.lang_sel_sel {
				background: white;
			}
		}
		.wpml,
		.search-box,
		.product-manuals {
			display: inline-block;
			text-align: right;
			@include font-size(14);
			position: relative;
			cursor: pointer;
		}
		.wpml {
			margin-right: 1.5em;
		}
		.wpml .icon {
			@include image-replace(16px,16px);
			display: inline-block;
			background: url(../img/global/icons/globe.png) no-repeat;
			background: url(../img/global/icons/globe.svg) no-repeat, none;
			margin-right: 0.25em;
			position: relative;
			top: 0.25em;
		}

		.product-manuals {
			margin-right: 1.5em;
			.icon {
				@include image-replace(13px,16px);
				display: inline-block;
				background: url(../img/global/icons/document.png) no-repeat;
				background: url(../img/global/icons/document.svg) no-repeat, none;
				margin-right: 0.25em;
				position: relative;
				top: 0.25em;
			}
			a {
				color: #9B9B9B;
				// &:hover {
				// 	color: $orange;
				// }
			}
		}

		.search-box .icon {
			@include image-replace(16px,16px);
			display: inline-block;
			background: url(../img/global/icons/search.png) no-repeat;
			background: url(../img/global/icons/search.svg) no-repeat, none;
			margin-right: 0.25em;
			position: relative;
			top: 0.25em;
		}
		.search-submit {
			@include image-replace(16px,16px);
			display: inline-block;
			padding: 0;
			background: url(../img/global/icons/search.png) no-repeat;
			background: url(../img/global/icons/search.svg) no-repeat, none;
		}
		.search-input {
			display: inline-block;
			padding: 1em;
			@include font-size(20);
			outline: none;
		}
		.search-form {
			padding: 1em;
			background: #eee;
		}
		.search-form input[type="submit"] {
			//margin-right: 0.25em;
			//position: relative;
			//top: 0.25em;
			display: inline-block;
			padding: 0.5em 0.75em;
			background: $blue;
			border: 0;
			outline: none;
		}
		ul {
			clear: right;
		}
		#lang-select,
		#header-search {
			display: none;
			position: absolute;
			z-index: 99999;
			top: 2em; right: 0;
			min-width: 250px;
		}
		#header-search {
			min-width: 230px;
		}
		#lang-select {
			background: white;
			background: rgba(233,233,233,0.9);
			padding: 0.5em 1.5em;
			.wpml-ls-legacy-list-horizontal {
				padding: 0;
			}
			li {
				border: 0;
				display: block;
			}
		}
		#lang-select ul {
			text-align: left;
		}
	}//.top-nav
	&.minify-header {
		height: 90px;
		.site-title a {
			@include image-replace(106px,40px);
			background: url(../img/global/logo-min.png) no-repeat;
			background: url(../img/global/logo-min.svg) no-repeat, none;
			@include breakpoint($medium) {
				top: 2.75em;
			}
		}
		.top-nav {
			@include breakpoint($medium) {
				padding: 2.5em 0;
			}
		}
		.lang-search {
			display: none;
		}
	}
} //.site-header
