//
//	Sidebar
//-------------------------------------------------------

.sidebar {
	margin-top: 3em;
	@include breakpoint($medium) {
		margin-top: 0;
	}
}

.sidebar-ad {
	margin-bottom: 4em;
	display: block;
	opacity: 1;
	transition: all, 0.5s;
	img {
		margin: 0;
		display: block;
	}
	&:hover {
		opacity: 0.7;
	}

}


//
//	Sidebar Nav
//-------------------------------------------------------
.hero-list,
.sidebar-nav.blog ul {
	margin: 0;
	margin-bottom: 3em;
	list-style: none;
	li,a {
		display: block;
		margin: 0;
	}
	a {
		text-decoration: none;
		padding: 1em;
	}
	.children {
		display: none;
		margin-left: 1em;
	}
	.current_page_parent .children,
	.current_page_item .children {
		//display: block;
	}
	&.product-industry {
		li {
			border-bottom: 0;
			display: block;
			@include font-size(17);
		}
		 a {
			 padding: 0.35em 1em;
			 display: block;
			 color: white;
		 }
		 li,
		 li span {
			 transition: all, 0.5s;
		 }
		 span {
			 display: inline-block;
		 }
		 .alt a {
			 padding: 0;
			 span {
				 padding: 0.35em 1em;
				 display: inline-block;
				 min-width: 85px;
			 }
		 }
		 .all {
			 background: #2C4458;
			 &:hover {
				 background: lighten(#2C4458, 10%);
			 }
		 }
		 .glass {
			 background: $blue;
			 @include breakpoint($medium) {
				 background: $blue url(../img/sidebar/glass.png) no-repeat;
			 }
			 span {
				 background: $blue;
			 }
			 &:hover {
				 background: lighten($blue, 10%);
				 @include breakpoint($medium) {
					 background: lighten($blue, 10%) url(../img/sidebar/glass.png) no-repeat;
				 }
				 span {
					 background: lighten($blue, 10%);
				 }
			 }
		 }
		 .plastic {
			 background: $green;
			 @include breakpoint($medium) {
				 background: $green url(../img/sidebar/plastic.png) no-repeat;
			 }
			 span {
				 background: $green;
			 }
			 &:hover {
				 background: lighten($green, 10%);
				 @include breakpoint($medium) {
					 background: lighten($green, 10%) url(../img/sidebar/plastic.png) no-repeat;
				 }
				 span {
					 background: lighten($green, 10%);
				 }
			 }
		 }
		 .filler {
			 background: #00968D;
			 @include breakpoint($medium) {
				 background: #00968D url(../img/sidebar/filler.png) no-repeat;
			 }
			 span {
				 background: #00968D;
			 }
			 &:hover {
				background: lighten(#00968D, 10%);
				@include breakpoint($medium) {
   				 	background: lighten(#00968D, 10%) url(../img/sidebar/filler.png) no-repeat;
   			 	}
				span {
					background: lighten(#00968D, 10%);
				}
			}
		 }
		 .other {
			 background: $orange;
			 @include breakpoint($medium) {
				 background: $orange url(../img/sidebar/other.png) no-repeat;
			 }
			 span {
				 background: $orange;
			 }
			 &:hover {
				 background: lighten($orange, 10%);
				 @include breakpoint($medium) {
					 background: lighten($orange, 10%) url(../img/sidebar/other.png) no-repeat;
				 }
				 span {
					 background: lighten($orange, 10%);
				 }
			 }
		 }
	}
}

//
//	Widgets
//-------------------------------------------------------

.widget {
	margin-bottom: 3em;
	li {
		margin-bottom: 1em;
	}
}
