.blog-page {
	@extend .section;

	.entry-content {
		@include breakpoint($medium) {
			@include grid(860,1200);
			float: left;
		}
	}//.entry-content

	.sidebar {
		@include breakpoint($medium) {
			@include grid(260,1200);
			float: right;
		}
	}

	article {
		margin-bottom: 2.5em;
		padding-bottom: 3em;
		&:last-child {
			margin-bottom: 0;
			padding-bottom: 0;
			border-bottom: 0;
		}
		@include breakpoint($medium) {
			margin-bottom: 5em;
			padding-bottom: 6em;
		}
	}

}//.blog-page

.sidebar-nav.blog {

}
