.gawis4g-lp {

  .g4g-intro {
    text-align: center;
    padding: 4em 0;
    background: #333 url(../img/g4g/bg-intro.jpg) center center no-repeat;
    background-size: cover;

    @include breakpoint($medium) {
      padding: 8em 0;
    }

    @include breakpoint($large) {
      padding: 12em 0;
      text-align: left;
    }

    @include breakpoint($xl) {
      padding: 18em 0;
    }

    h1 {
      color: #fff;
      span {
        color: $green;
      }
    }

    .column-container {
      @include breakpoint($large) {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }

    .left-column,
    .right-column {
      @include breakpoint($large) {
        height: 100%;
      }
    }

    .left-column {
      margin-bottom: 1.5em;
      @include breakpoint($large) {
        padding-right: 5em;
        margin-bottom: 0;
        width: 40%;
      }

    }

    .right-column {
      @include breakpoint($large) {
        width: 60%;
        padding-left: 5em;
        border-left: 1px solid $green;
      }
    }

    .intro-callouts {
      text-align: center;
      @include breakpoint($large) {
        text-align: left;
        display: flex;
        align-items: center;
      }
    }

    .intro-callouts a {
      color: #fff;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: bold;
      display: flex;
      align-items: center;
      @include font-size(15);
      @include breakpoint($large) {
        @include font-size(17);
      }
      img {
        display: block;
        margin-right: 1em;
      }
    }

    .intro-callouts .scroll-button {
      margin-bottom: 1.5em;
      @include breakpoint($large) {
        margin-bottom: 0;
        margin-right: 1.5em;
      }
    }

  }//.g4d-intro

  .split-column {
    .split-column-header {
      text-align: center;
      padding: 2em 0;
      color: #fff;
      margin-bottom: 2em;
      position: relative;
      @include breakpoint($large) {
        margin-bottom: 0;
      }
      &:after {
        content: "";
        width: 0px;
        height: 0px;
        border-left: 18px solid transparent;
        border-right: 18px solid transparent;
        position: absolute;
        bottom :-12px;
        left: 50%;
        margin-left: -12px;
      }
      h2 {
        margin-bottom: 0;
      }

      &.header-lt-orange {
        background: $blue;
        &:after {
          border-top: 12px solid $blue;
        }
      }

      &.header-orange {
        background: $blue;
        &:after {
          border-top: 12px solid $blue;
        }
      }

    }


    .split-column-body {
      padding: 3em 0;
      @include breakpoint($large) {
        padding: 0;
      }
    }


    .split-body-columns {
      text-align: center;
      @include breakpoint($large) {
        text-align: left;
        display: flex;
        align-items: center;
      }

      ul {
        text-align: left;
      }

      .left-column,
      .right-column {
        @include breakpoint($large) {
          width: 50%;
        }
      }

      .left-column {
        margin-bottom: 1em;
        @include breakpoint($large) {
          margin-bottom: 0;
        }
      }

      .split-column-text {
        @include breakpoint($large) {
          padding-left: 3em;
        }
        .ba {
          margin: 2em 0 3em;
        }
        .button {
          border: 2px solid $green;
          .text {
            color: $green;
            border-right: 2px solid $green;
          }
          .arrow {
            background: url(../img/g4g/arrow-green.png) no-repeat center center;
          }
        }
      }

      .split-column-image-left {
        @include breakpoint($large) {
          padding-right: 3em;
        }
      }

      img.block-large-image {
        display: block;
        margin: 0;
        width: 100%;
      }

      img.block-icon {
        display: block;
        max-width: 46px;
        margin: 0 auto 1em;
        @include breakpoint($large) {
          margin: 0 0 1.5em 0;
        }
      }

    }

    .lt-orange-ul {
      margin-left: 2em;
      list-style-image: url('../img/g4g/green-arrow.png');
    }

    .orange-ul {
      margin-left: 2em;
      list-style-image: url('../img/g4g/green-arrow.png');
    }


  }//.split-column


  .g4d-callout {
    text-align: center;
    background: $green;
    color: #fff;
    padding: 2em 0;
    @include breakpoint($large) {
      padding: 4em 0;
    }

    a {
      color: #fff;
    }

    .callout-intro {
      margin-bottom: 2em;
      padding-bottom: 2em;
      border-bottom: 2px solid #fff;
      h3,.ba {
        @include breakpoint($large) {
          display: inline-block;
        }
      }
      h3 {
        @include breakpoint($large) {
          margin-bottom: 0;
          @include font-size(30);
          position: relative;
          top: -.35em;
          margin-right: 1em;
        }
      }
      .ba.brochure-link {
        margin-right: 1em;
      }
    }

    .callout-end p {
      text-align: center;
      font-weight: bold;
      margin: 0 auto;
      max-width: 760px;
      font-style: italic;
      @include font-size(15);
      @include breakpoint($large) {
        @include font-size(18);
      }
    }

  }


}//.gawis4d-lp
