.glp-intro {
  text-align: center;
  padding: 4em 0;
  background: #080808;
  background-size: cover;

  @include breakpoint($medium) {
    padding: 8em 0;
  }

  @include breakpoint($large) {
    padding: 12em 0;
    text-align: left;
  }

  @include breakpoint($xl) {
    padding: 18em 0;
  }

  h1 {
    color: #fff;
  }

  .column-container {
    @include breakpoint($large) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  .left-column,
  .right-column {
    @include breakpoint($large) {
      height: 100%;
    }
  }

  .left-column {
    margin-bottom: 1.5em;
    @include breakpoint($large) {
      padding-right: 5em;
      margin-bottom: 0;
      width: 40%;
    }

  }

  .right-column {
    @include breakpoint($large) {
      width: 60%;
      padding-left: 5em;
      border-left: 1px solid #fff;
    }

    &.light-bg-color {
      border-left: 0;
      padding: 4em;
      background-color: rgba(0,0,0,.65);
    }
  }

  .intro-callouts {
    text-align: center;
    @include breakpoint($large) {
      text-align: left;
      display: flex;
      align-items: center;
    }
  }

  .intro-callouts a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    align-items: center;
    @include font-size(15);
    @include breakpoint($large) {
      @include font-size(17);
    }
    img {
      display: block;
      margin-right: 1em;
    }
  }

  .intro-callouts .scroll-button {
    margin-bottom: 1.5em;
    @include breakpoint($large) {
      margin-bottom: 0;
      margin-right: 1.5em;
    }
  }
}

.section-heading {
  text-align: center;
  padding: 2.5em;
  h2 {
    margin-bottom: 0;
    @include font-size(30);
    @include breakpoint($medium) {
      @include font-size(40);
    }
  }

  &.blue {
    background-color: $blue-dark;
    color: #fff;
  }

  &.green {
    background-color: $green;
    color: #fff;
  }

  &.orange {
    background-color: $orange;
    color: #fff;
  }

  &.image,
  &.background-image {
    padding: 1.5em 0;
    h2 {
      display: inline-block;
      color: #fff;
      padding: .5em 1em;
      background-color: rgba(0,0,0,.65);
    }
  }

}



.glp-section {
  background-color: #fff;
  padding: 2em 0;
  @include breakpoint($medium) {
    padding: 3em 0;
  }

  @include breakpoint($large) {
    padding: 5em 0;
  }

  .section-columns {

    &.text-left {
      @include breakpoint($medium) {
        flex-direction: row;
        align-items: center;
      }
    }

    &.text-right {
      @include breakpoint($medium) {
        flex-direction: row-reverse;
        align-items: center;
      }
    }

    .column:first-child {
      margin-bottom: 2em;
      @include breakpoint($medium) {
        margin-bottom: 0;
        width: 45%;
      }
    }

    .column {
      @include breakpoint($medium) {
        width: 45%;
      }
    }

    @include breakpoint($medium) {
      display: flex;
      justify-content: space-between;

    }

  }

  h3 {
    @include font-size(37);
    @include breakpoint($medium) {
      @include font-size(45);
    }
    @include breakpoint($large) {
      @include font-size(51);
    }
  }

  p {
    color: #2C2C2C;
    font-weight: 300;
    @include font-size(14);
    @include breakpoint($medium) {
      @include font-size(16);
    }
    @include breakpoint($large) {
      @include font-size(20);
    }
  }

  .button {
    font-weight: 700;
    @include font-size(16);
    @include breakpoint($medium) {
      @include font-size(19);
    }
  }

  &.blue {
    .button {
      border: 3px solid $blue-dark;
      color: $blue-dark;
      &:hover {
        background: $blue-dark;
        color: #fff;
      }
    }
  }

  &.green {
    .button {
      border: 3px solid $green;
      color: $green;
      &:hover {
        background: $green;
        color: #fff;
      }
    }
  }

  &.orange {
    .button {
      border: 3px solid $orange;
      color: $orange;
      &:hover {
        background: $orange;
        color: #fff;
      }
    }
  }



  &.background-image {

    .button {
      border: 3px solid $gray-medium;
      color: $gray-medium;
      &:hover {
        background: $gray-medium;
        color: #fff;
      }
    }
  }

}

.lp-bottom-callout {
  padding: 2em 0;
  text-align: center;
  font-style: italic;
  color: #fff;
  font-weight: 700;
  @include font-size(14);
  @include breakpoint($medium) {
    @include font-size(16);
    padding: 3em 0;
  }
  @include breakpoint($large) {
    @include font-size(18);
  }

  p {
    margin-bottom: 0;
  }

  .wrap {
    max-width: 679px;
  }

  &.green {
    background-color: $green;
  }

  &.blue {
    background-color: $blue-dark;
  }

  &.orange {
    background-color: $orange;
  }

}
