.site-main.homepage {

	.slideshow {
		@include clearfix;
		position: relative;
		background: $gray;
		@include breakpoint($xxl) {
			background: white url(../img/home/bg-slideshow.png) repeat-x 0 26px;
		}

		//padding-bottom: 5em;
	}

	.slideshow .wrap {
		margin: 0 auto;
		width: 100%;
		@include breakpoint($medium) {
			max-width: 760px;
			width: 760px;
		}
		@include breakpoint($large) {
			max-width: 940px;
			width: 940px;
		}
		@include breakpoint($xl) {
			max-width: 1200px;
			width: 1200px;
		}
		@include breakpoint($xxl) {
			max-width: 1400px;
			width: 1400px;

		}
	}

	.qa {
		@include clearfix;
		padding: 3.5em 0;
		@include breakpoint($medium) {
			padding: 4em 0;
		}
		@include breakpoint($large) {
			padding: 6em 0;
		}

		.content {
			margin-bottom: 3em;
			padding-bottom: 1em;
			border-bottom: 1px solid $gray;
			@include breakpoint($medium) {
				margin-bottom: 0;
				padding-bottom: 0;
				border-bottom: 0;
				float: left;
				@include grid(780,1200);
				@include pright(50,1200);
				border-right: 1px solid $gray;
			}
			@include breakpoint($large) {
				@include grid(720,1200);
				@include pright(50,1200);
			}
			@include breakpoint($xl) {
				@include grid(730,1200);
			}
		}
		.callouts {
			@include breakpoint($medium) {
				float: right;
				@include grid(320,1200);
			}
			@include breakpoint($large) {
				@include grid(420,1200);
			}
			ul {
				list-style: none;
				margin: 0;
				li,a {
					display: block;
				}
			}
			li {
				position: relative;
				margin-bottom: 1em;
				&:last-child {
					margin-bottom: 0;
				}
			}
			a {
				text-decoration: none;
				position: relative;
				padding-bottom: 1.25em;
			}
			span {
				// position: absolute;
				// top: 0;
				max-width: 160px;
				margin: 0 auto;
				@include font-size(28);
				@extend %font-light;
				padding: 0.5em 0;
				display: block;
				text-align: center;
				@include breakpoint($medium) {
					@include font-size(20);
					max-width: 120px;
				}
				@include breakpoint($large) {
					max-width: 140px;
				}
				@include breakpoint($xl) {
					max-width: 160px;
					@include font-size(28);
				}

			}
		}
	}//.qa

	.services {
		@include clearfix;
		padding: 3.5em 0;
		@include breakpoint($medium) {
			padding: 4em 0;
		}
		@include breakpoint($large) {
			padding: 6em 0;
		}
		ul {
			list-style: none;
			margin: 0;
		}
		a {
			text-decoration: none;
		}
		.left,
		.right {
			@include breakpoint($large) {
				float: left;
				width: 50%;
			}
		}
		.left {
			margin-bottom: 4em;
			@include breakpoint($large) {
				margin-bottom: 0;
				padding-right: 3em;
			}
		}
		.right {
			margin-top: 2em;
			@include breakpoint($large) {
				margin-top: 0;
				padding-left: 3em;
			}
		}
		.right li {
			margin-bottom: 2em;
			&:last-child {
				margin-bottom: 0;
			}
			@include breakpoint($small) {
				float: left;
				width: 50%;
				padding: 0 1em;
				height: 120px;
			}
			@include breakpoint($medium) {
				width: calc(100%/6);
				height: auto;
			}
			@include breakpoint($large) {
				height: auto;
				padding: 0 0.5em;
				width: 50%;
				margin-bottom: 1em;
			}
			@include breakpoint($xl) {
				//height: 62px;
			}
			.icon {
				@include image-replace(62px,62px);
				margin: 0 auto 0.5em;
				@include breakpoint($large) {
					display: inline-block;
					margin: 0 1.5em 0 0;
					float: left;
				}
				&.esas {
					background: url(../img/home/icons/equip-serv-support.png) no-repeat;
					background: url(../img/home/icons/equip-serv-support.svg) no-repeat, none;
				}
				&.rs {
					background: url(../img/home/icons/repair-serv.png) no-repeat;
					background: url(../img/home/icons/repair-serv.svg) no-repeat, none;
				}
				&.ssp {
					background: url(../img/home/icons/serv-support-plans.png) no-repeat;
					background: url(../img/home/icons/serv-support-plans.svg) no-repeat, none;
				}
				&.pic {
					background: url(../img/home/icons/process-imp-cons.png) no-repeat;
					background: url(../img/home/icons/process-imp-cons.svg) no-repeat, none;
				}
				&.et {
					background: url(../img/home/icons/equip-training.png) no-repeat;
					background: url(../img/home/icons/equip-training.svg) no-repeat, none;
				}
				&.agrs {
					background: url(../img/home/icons/usa-glass.png) no-repeat;
					background: url(../img/home/icons/usa-glass.svg) no-repeat, none;
				}
				&.product-manuals {
					background: url(../img/home/icons/icon_manuals.png) no-repeat;
					background: url(../img/home/icons/icon_manuals.svg) no-repeat, none;
				}
			}
			.text {
				text-align: center;
				display: block;
				line-height: 130%;
				@include breakpoint($large) {
					display: inline;
					top: 1em;
					position: relative;
				}
				@include breakpoint($xl) {

					top: 0.5em;
				}
			}
		}
	}//.services

	.news-events {
		@include clearfix;
		padding: 3.5em 0;
		@include breakpoint($medium) {
			padding: 4em 0;
		}
		@include breakpoint($large) {
			padding: 6em 0;
		}
		.row {
			@include clearfix;
		}
		.row.news {
			margin-bottom: 3em;
			padding-bottom: 3em;
			@include breakpoint($medium) {
				margin-bottom: 6em;
			}
		}
		.desc {
			margin-bottom: 4em;
			@include breakpoint($medium) {
				margin-bottom: 0;
				float: left;
				@include grid(160,1200);
			}
			.more .arrow {
				transition: all, 0.25s;
				position: relative;
				left: 0;
			}
			.more:hover .arrow {
				left: 0.15em;
			}
		}
		.news .desc {
			.arrow {
				@include image-replace(17px,17px);
				display: inline-block;
				background: url(../img/global/arrow-orange.png) no-repeat;
				background: url(../img/global/arrow-orange.svg) no-repeat, none;
				position: relative;
				top: 0.25em;
				margin-left: 0.25em;
			}
		}
		.events .desc {
			.arrow {
				@include image-replace(17px,17px);
				display: inline-block;
				background: url(../img/global/arrow-green.png) no-repeat;
				background: url(../img/global/arrow-green.svg) no-repeat, none;
				position: relative;
				top: 0.25em;
				margin-left: 0.25em;
			}
		}
		ul {
			margin: 0;
			list-style: none;
			@include breakpoint($medium) {
				float: left;
				@include grid(1040,1200);
			}
		}
		li {
			margin-bottom: 2em;
			@include breakpoint($medium) {
				float: left;
				@include grid(345,1040);
				padding: 0 1em;
			}
			&:last-child {
				margin-bottom: 0;
			}
		}
		.date {
			max-width: 45px;
			margin: 0 auto 1.25em;
			@include breakpoint($medium) {
				margin: 0;
				float: left;
			}
			&.has-end {
				display: inline-block;
				//margin-right: 1em;
				@include breakpoint($medium) {
					display: block;
					float: left;
					clear: left;
				}
			}
			&.end {
				display: inline-block;
				@include breakpoint($medium) {
					display: block;
					float: left;
					clear: left;
					max-width: 45px;
				}
			}
		}
		.date-arrow {
			@include image-replace(8px,39px);
			display: inline-block;
			background: url(../img/global/arrow-right-green.png) no-repeat center center;
			//background: url(../img/global/arrow-right-green.svg) no-repeat center center, none;
			position: relative;
    		top: 0.5em;
    		@include breakpoint($medium) {
    			@include image-replace(39px,9px);
    			display: block;
    			background: url(../img/global/arrow-down-green.png) no-repeat center center;
    			background: url(../img/global/arrow-down-green.svg) no-repeat center center, none;
    			clear: left;
    			float: left;
    			margin-bottom: 0.75em;
    		}
		}
		.date-contain {
			@include breakpoint($medium) {
				float: left;
				max-width: 45px;
			}
		}
		.excerpt {
			@include breakpoint($medium) {
				float: right;
				max-width: 70%;
			}
			@include breakpoint($large) {
				max-width: 75%;
			}

		}
	}//.news-events

}//.site-main.homepage
