.k2019-lp {

  .k2019-intro {
    text-align: center;
    background: #fff url(../img/k2019/intro-bg-post3.jpg) center top no-repeat;
    background-size: cover;
    height: 50vh;
    h1 {
      color: $blue;
      font-weight: bold;
      margin-bottom: .25em;
    }

    h2 {
      padding-bottom: .25em;
      &:after {
        content: '';
        display: block;
        margin: .75em auto 0;
        width: 117px;
        height: 2px;
        background: $blue;
      }
    }

    h3 {
      font-weight: bold;
    }

  }

  .k2019-secondary-intro {
    padding: 2em;
    background: $green;
    color: #fff;
    text-align: center;

    @include breakpoint($medium) {
      text-align: left;
      padding: 3.5em 0;
    }

    .wrap {
      @include breakpoint($medium) {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }

    h3 {
      margin-bottom: 1.25em;
      @include breakpoint($medium) {
        margin-bottom: 0;
        width: 65%;
      }
      @include breakpoint($large) {
        @include font-size(30);
        width: 70%;
      }
    }
    span.ba {
      @include breakpoint($medium) {
        width: 30%;
      }

      @include breakpoint($large) {
        width: 25%;
      }

    }
  }


  .k2019-feat-products-heading {
    padding: 2em 0;
    background: $blue-dark url(../img/k2019/bg-photo.jpg) no-repeat top center;
    background-size: cover;
    text-align: center;
    @include breakpoint($medium) {
      text-align: left;
      padding: 3em 0;
    }
    h2 {
      margin: 0;
      text-transform: uppercase;
      font-weight: bold;
      color: #fff;
    }
  }

  .k2019-featured-products {
    padding: 4em 0;
    background: #fff;

    @include breakpoint($medium) {
      padding: 6em 0;
    }

    .feat-prod {
      text-align: center;
      padding-bottom: 3em;
      margin-bottom: 3em;
      border-bottom: 2px solid $blue;

      &:last-child {
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: 0;
      }
      @include breakpoint($medium) {
        text-align: left;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .product-photo {
        margin: 0 auto 1em;
        max-width: 70%;
        @include breakpoint($medium) {
          width: 20%;
        }
        img {
          display: block;
          margin: 0;
        }
      }

      .product-info {
        @include breakpoint($medium) {
          width: 70%;
        }
        h2 {
          @include font-size(16);
          font-weight: bold;
          sup {
            font-size: 60%;
          }
        }
      }

      .product-info .button {
        color: $blue;
        border: 2px solid $blue;
        .text {
          border-right: 2px solid $blue;
        }
        .arrow {
          background: url(../img/global/arrow-blue.png) no-repeat center center;
          background: url(../img/global/arrow-blue.svg) no-repeat center center;
        }
      }

    }

  }

  .innovation-heading {
    padding: 3em 0;
    background: $green;
    text-align: center;
    @include breakpoint($medium) {
      padding: 5em 0;
    }
    h3, p {
      color: #fff;
    }
    h3 {
      font-weight: bold;
      text-transform: uppercase;
      @include font-size(28);
    }
    p {
      margin: 0;
    }
  }

  .innovation-outline {
    // text-align: center;
    padding: 3em 0;
    background: $blue-dark url(../img/k2019/bg-photo.jpg) no-repeat center center;
    background-size: cover;
    @include breakpoint($medium) {
      padding: 6em 0;
    }
    h6 {
      color: #fff;
      font-weight: bold;
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        margin-bottom: 1.25em;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &:last-child {
          margin-bottom: 0;
        }
        .icon {
          width: 12%;
        }
        .text {
          width: 80%;
        }
      }
    }
  }


} // .k2019-lp
