.landing-page {

    p,li {
        color: #3F4450;
    }

    .intro {
        background: #FAFAFA;
        padding: 4em 0;
        text-align: center;
        @include breakpoint($medium) {
            padding: 6em 0;
        }
        @include breakpoint($large) {
            padding: 8em 0;
        }
        h1 {
            font-weight: 500;
            color: $blue-dark;
            @include font-size(17);
            text-transform: uppercase;
            padding-bottom: 1em;
            background: url(../img/global/line-blue.png) no-repeat center bottom;
            @include  breakpoint($medium) {
                @include font-size(21);
            }
            @include  breakpoint($large) {
                @include font-size(31);
            }
        }
        h6 {
            @include font-size(27);
            @extend %font-light;
            line-height: 120%;
            //margin-bottom: 0.25em;
            @include  breakpoint($medium) {
                @include font-size(37);
            }
            @include  breakpoint($large) {
                @include font-size(47);
            }
        }
    }//.intro

    .section .heading {
        text-align: center;
    }

    .designed-to {
        @include clearfix;
        background: $orange;
        color: white;
        padding: 3em 0;
        @include breakpoint($medium) {
            padding: 5em 0;
        }
        h2 {
            text-align: center;
            margin-bottom: 1.5em;
        }
        ul {
            list-style: none;
            margin: 0;
        }
        li {
            text-align: center;
            margin-bottom: 1em;
            @include breakpoint($medium) {
                margin-bottom: 0;
                float: left;
                @include grid(400,1200);
                padding: 0 1em;
            }
        }
        p {
            color: white;
        }
    }//.designed-to

    .columns {
        h2 {
            color: $blue-dark;
        }
        h6 {
            color: $blue;
            margin-bottom: 1em;
        }

        ul {
            list-style: disc;
        }
    }//columns

    .learn-more-band {
        @include clearfix;
        padding: 2em 0;
        background: $green;
        color: white;
        text-align: center;
        @include breakpoint($medium) {
            padding: 3em 0;
        }
        h6 {
            @include font-size(22);
            font-weight: 500;
            margin-bottom: 0.5em;
            @include breakpoint($medium) {
                margin-right: 4em;
            }
        }
        .ba {
            a {
                transition: all, 0.25s;
            }
            margin-bottom: 2em;
            @include breakpoint($medium) {
                margin-bottom: 0;
                margin-right: 1em;
                position: relative;
                top: 1.25em;
            }
            &:last-child {
                margin-bottom: 0;
                @include breakpoint($medium) { 
                    margin-right: 0;
                }
            }
            &:hover .text,
            &:hover .arrow {
                background-color: darken($green,10%);
            }
        }
        h6,.ba {
            @include breakpoint($medium) {
                display: inline-block;
            }
        }

    }//.learn-more-band

    .diagrams {
        background: #FAFAFA;
        text-align: center;
        h2 {
            color: $blue-dark;
            margin-bottom: 1.25em;
        }
        p {
            margin-top: 1em;
            @extend %font-light;
        }
    }//.diagrams

    .two-col-content {
        h2 {
            text-align: center;
        }
        h2 {
            color: $blue-dark;
        }
        h6 {
            @extend %font-light;
        }
        .columns {
            margin-top: 4em;
            @include breakpoint($medium) {
                background: url(../img/global/col-border.png) repeat-y center;
            }
            h3 {
                text-transform: uppercase;
                font-weight: 400;
            }
            h4 {
                @extend %font-light;
                @include font-size(19);
            }
            ul {
                margin-left: 2em;
                li {
                    margin-bottom: 0.15em;
                    line-height: 120%;
                }
            }
        }
        .column-one {
            @include breakpoint($medium) {
                @include pright(80,1200);
            }
        }
        .column-two {
            @include breakpoint($medium) {
                @include pleft(80,1200);
            }
        }
    }//.two-col-content

    .center-text {
        text-align: center;
        h2 {
            margin-bottom: 1.5em;
        }
        &.color-option-1 {
            h2 {
                color: $blue-dark;
            }
        }
    }

}//.landing-page
