.loc-hq-info {
  border-radius: 5px;
  border: 2px solid #DBDBDB;
  padding: 1em;
  background: #eee;
  @include breakpoint($medium) {
    float: right;
    margin: 0 0 3em 3em;
  }
  @include breakpoint($large) {
    padding: 2em;
  }
  h4 {
    margin: 0 0 .25em;
  }
  p {
    margin: 0;
  }
}

.locations-grid {
  padding: 0 0 3.5em;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .locations-grid--item {
    padding: 2em;
    width: 49.5%;
    @include breakpoint($large) {
      width: 32%;
    }
  }

  .location-info-block {
		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			line-height: 135%;
		}
		li {
			margin: 0;
		}
	}

}

.cant-use-map {
  text-align: center;
  background: $orange;
  padding: 1em 0;
  p {
    font-weight: bold;
    color: #fff;
    margin: 0;
  }
  a {
    color: #fff;
  }
}
