.product-manuals-login {
  max-width: 500px;
  margin: 1em auto 0;
  label {
    font-weight: 700;
    font-size: inherit;
    color: #2C2C2C;
    margin-bottom: .25em;
  }
  label,
  input[type="text"],
  input[type="password"] {
    display: block;
  }
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: .5em;
    border: 2px solid $blue-dark;
  }
  .button {
    background: $orange;
  }
}

// organize checkboxes for registration form
#input_4_11,
#input_5_11 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  li {
    width: 48%;
  }
}

.product-manuals-list.facetwp-template {
  display: none;
  &.visible {
    display: block;
  }
}

.model-number-search {
  text-align: center;
  h2 {
    margin-bottom: .25em;
  }
  .facetwp-facet {
    margin-bottom: 2em;
  }
  .mo-num-prefix {
    color: $blue-dark;
    @include font-size(17);
    display: inline-block;
    margin-right: .25em;
    font-weight: 700;
  }
  input[type="text"] {
    border: 2px solid $blue-dark;
    @include font-size(17);
    padding: .5em;
  }
  input[type="button"] {
    border: 2px solid $blue-dark;
    background: $blue-dark url(../img/global/arrow-white-small.png) no-repeat 93% center;
    color: #fff;
    @include font-size(13);
    padding: .8em 2.5em .8em .5em;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
    top: -1px;

  }
}

.product-manuals-list .post--product-manual {
  margin-bottom: 3em;
  padding-bottom: 3.5em;
  border-bottom: 1px solid $gray-lighter;
  &:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: 0;
  }
}

.post--product-manual {
  ul.downloads {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  ul.downloads li {
    position: relative;
    margin-bottom: 0.75em;
    &:last-child {
      margin-bottom: 0;
    }
    &:before {
      content: '';
      @include image-replace(20px,29px);
      display: inline-block;
      background: url(../img/global/icons/document-download.png) no-repeat;
      background: url(../img/global/icons/document-download.svg) no-repeat, none;
      margin-right: 0.75em;
      position: relative;
      top: 0.5em;
    }
  }
}

.account-buttons {
  @include clearfix();
  margin-bottom: 1.5em;
  text-align: center;
  @include breakpoint($medium) {
    text-align: right;
  }
}

.account-buttons ul {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    display: inline-block;
    + li {
      margin-left: 1em;
    }
  }
}

.parts-popup {
  background: #fff;
  margin: 0 auto;
  //max-width: 1600px;
  max-width: 98%;
  padding: 3em;
  max-height: 98%;
  overflow: scroll;

  @include breakpoint($large) {
    display: flex;
    justify-content: space-between;
  }

  h2 {
    text-align: center;
  }

  .mfp-close {
    right: 30px;
    top: 10px;
    width: 60px;
    height: 60px;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    @include font-size(14);
    margin-bottom: 2em;
  }
  thead tr {
    background-color: $green;
    color: #ffffff;
    text-align: left;
    th:first-child {
      border-right: 1px solid #fff;
    }
  }
  th {
    padding: 1em;
  }
  td {
    padding: .45em;
  }
  tbody tr {
    border-bottom: 1px solid #dddddd;
  }
  thead th {
    font-weight: bold;
    text-transform: uppercase;
    @include font-size(16);
  }
  tbody td {
    border: 1px solid #dddddd;
    @include font-size(12);
  }
  tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }

  // .left-col,
  // .right-col {
  //   @include breakpoint($large) {
  //     width: 48%;
  //   }
  // }

  .left-col {
    @include breakpoint($large) {
      width: 50%;
    }
  }

  .right-col {
    @include breakpoint($large) {
      width: 50%;
    }
  }



}

.order-button {
  text-decoration: none;
  background: $orange;
  color: #fff !important;
  text-transform: uppercase;
  font-weight: bold;
  @include font-size(18);
  padding: 1em;
  border-radius: 10px;
  float: right;
}

.part-image {
  margin: 2em auto;
  img {
    display: block;
    margin: 0 auto;
  }
}

.gform_button_select_files.gform_button_select_files {
  color: $blue-dark;
  border: 2px solid $blue-dark;
}

.gform_drop_instructions {
  font-size: 16px;
  margin-bottom: 16px;
}
