// Overview/Landing Page

.wrap--large {
    @include breakpoint($xl) {
        max-width: 1600px;
    }
}

.lp-nav {
    background: #E4E4E4;
    text-align: center;
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        li {
            margin: 0;

            //display: inline-block;
            border-right: 1px solid #D0D0D0;
            @include font-size(15);
            &:last-child {
                border-right: none;
            }
            &.active {
                background: #013056;
                font-weight: bold;
                a {
                    display: block;

                    color: white;
                    cursor: default;
                    pointer-events: none;
                }
            }
            &:not(.active):hover {
                background: darken(#E4E4E4,5%);
            }
        }
    }
    a {
        display: block;
        text-decoration: none;
        color: #013056;
        padding: .75em 1em;
    }
}

.overview-intro {
    padding: 3em 0;
    text-align: center;
    background: #F4F4F4;
    @include breakpoint($medium) {
        padding: 5em 0;
        //background: #F4F4F4 url(../img/temp/pp-lp/intro-bg.png) no-repeat center 100px;
    }
    @include breakpoint($large) {
        //background: #F4F4F4 url(../img/temp/pp-lp/intro-bg.png) no-repeat 0 100px;
    }
    @include breakpoint($xl) {
        //background: #F4F4F4 url(../img/temp/pp-lp/intro-bg.png) no-repeat 0 100px;
    }

    .wrap {
        overflow: visible;
        @include breakpoint($medium) {
            background: #F4F4F4 url(../img/temp/pp-lp/intro-bg.png) no-repeat -50px 100px;
        }
        @include breakpoint($large) {
            background: #F4F4F4 url(../img/temp/pp-lp/intro-bg.png) no-repeat -100px 100px;
        }
        @include breakpoint($xl) {
            background: #F4F4F4 url(../img/temp/pp-lp/intro-bg.png) no-repeat -100px 100px;
        }
    }

    .heading {
        margin: 2em 0 3em;
        @include breakpoint($medium) {
            margin: 3em 0 5em;
        }
        @include breakpoint($large) {
            margin: 3em 0 6em;
        }
        h1 {
            color: #00467E;
            text-transform: uppercase;
            @include font-size(21);
            font-weight: 400;
            @include breakpoint($medium) {
                @include font-size(24);
            }
            @include breakpoint($large) {
                @include font-size(27);
            }
            @include breakpoint($xl) {
                @include font-size(31);
            }
        }
        h2 {
            color: #30343F;
            @include font-size(28);
            font-weight: 200;
            @include breakpoint($medium) {
                @include font-size(36);
            }
            @include breakpoint($large) {
                @include font-size(42);
            }
            @include breakpoint($xl) {
                @include font-size(47);
            }
        }
    }//heading

    .intro-content {
        margin: 4em 0;

        @include breakpoint($medium) {
            margin: 7em 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .left {
            margin-bottom: 3em;
            @include breakpoint($medium) {
                margin: 0;
                width: 55%;
            }
        }
        .right {
            @include breakpoint($medium) {
                text-align: left;
                width: 40%;
            }
            h3 {
                @include font-size(24);
                font-weight: 400;
                color: #00467E;
            }
        }
    }

}


.step-block {
    position: relative;
    @include breakpoint($large) {
        background: lighten($gray-lighter, 25%);
        //background: white;
        background: linear-gradient(90deg, $blue-dark 50%, white 50%);
    }
    //background: linear-gradient(90deg, $blue 50%, #e4e4e4 50%);
    // background: linear-gradient(
    //     to right,
    //     $blue 0%,
    //     $blue 25%,
    //     white 25%,
    //     white 100%
    //   );
    .wrap {
        position: relative;
    }
    .heading {

        &.desktop {
            display: none;
            height: 92px;
            width: 100%;
            z-index: 90;
            background: linear-gradient(90deg, $blue 25%, #e4e4e4 50%);
            @include breakpoint($large) {
                display: block;
            }
        }
        &.mobile {
            text-align: center;
            background: $blue-dark;
            //padding: 3em;
            @include breakpoint($large) {
                display: none;
            }
            .circle {
                width: 82px;
                height: 82px;
            }
            .inner-heading {
                padding: 3em;
            }
            h2 {
                color: white;
                text-transform: uppercase;
                font-weight: 200;
            }
            h3 {
                margin:0;
                background: #E4E4E4;
                color: $blue-dark;
                padding: 2em;
            }
        }
        .heading-wrap {
            position: relative;
            text-align: center;
            max-width: 1600px;
            margin: 0 auto;
            img {
                margin: 0;
                display: block;
            }
            .circle {
                z-index: 90;
                position: absolute;
                left: 16em;
                top: -3.5em;
                @include breakpoint($large) {
                    left: 0;
                }
                @include breakpoint($xl) {
                    left: 1em;
                }
                @include breakpoint($mega16) {
                    left: 16em;
                }
            }
            .heading-text {
                margin: 0 auto;
                &.bp940 {
                    display: none;
                    @include breakpoint($large) {
                        display: block;
                    }
                    @include breakpoint($xl) {
                        display: none;
                    }
                }
                &.bp1200 {
                    display: none;
                    @include breakpoint($xl) {
                        display: block;
                    }
                    @include breakpoint($mega16) {
                        display: none;
                    }
                }
                &.mega {
                    display: none;
                    @include breakpoint($mega16) {
                        display: block;
                    }
                }
            }
        }
    }
    .content {
        background-color: white;
        @include breakpoint($large) {
            background-image: url(../img/ppfam/step1/bg-step-1.jpg);
            background-position: -100px center;
            background-repeat: no-repeat;
            min-height: 637px;
            display: flex;
            align-items: center;
            justify-content: space-around;
        }
        @include breakpoint($xl) {
            background-position: left center;
        }
    }
    &.step-1 .content {
        @include breakpoint($large) {
            background-image: url(../img/ppfam/step1/bg-step-1.jpg);
            background-position: -145px center;
            background-repeat: no-repeat;
        }
        @include breakpoint($xl) {
            background-position: left center;
        }

    }
    &.step-2 .content {
        @include breakpoint($large) {
            background-image: url(../img/ppfam/step2/bg-step-2.jpg);
            background-position: -145px center;
            background-repeat: no-repeat;
        }
        @include breakpoint($xl) {
            background-position: left center;
        }

    }
    &.step-3 .content {
        @include breakpoint($large) {
            background-image: url(../img/ppfam/step3/bg-step-3.jpg);
            background-position: -145px center;
            background-repeat: no-repeat;
        }
        @include breakpoint($xl) {
            background-position: left center;
        }

    }
    .content-box {
        background: $blue-dark;
        background: linear-gradient(to right, $blue 0%,$blue-dark 78%,$blue-dark 99%);
        color: white;
        max-width: 360px;
        padding: 2.5em;
        margin: 4em auto;
        @include breakpoint($large) {
            max-width: 360px;
            margin: 0 0 0 2em;
        }
        @include breakpoint($xl) {
            max-width: 460px;
        }
        p {
            @include font-size(18);
            line-height: 140%;
            @include breakpoint($large) {
                @include font-size(21);
            }
            @include breakpoint($xl) {
                @include font-size(24);
            }
        }
    }
}

.icon-box {
    text-align: center;
    width: 100%;
    margin-bottom: 4.5em;
    @include breakpoint($large) {
        margin-bottom: 0;
        width: 50%;
    }
    .icon {
        width: 92px;
        height: 92px;
        margin: 0 auto 1em;
    }
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        li {
            width: 50%;
            margin: 0 0 1em;
            padding: 0;
            @include breakpoint($medium) {
                width: 30%;
            }
            p {
                @include font-size(13);
                line-height: 135%;
                margin: 0;
                @include breakpoint($medium) {
                    @include font-size(16);
                }
                @include breakpoint($xl) {
                    @include font-size(18)
                }
            }
        }
    }
}

.step-block.step-3 .icon-box ul li {
    @include breakpoint($medium) {
        width: 25%;
    }
}

// Innerpage Styles

.step-intro {
    background: #F8F8F8;
    &.step1 .wrap {
        @include breakpoint($medium) {
            background-image: url(../img/ppfam/step1/inner/bg-intro.jpg);
            background-repeat: no-repeat;
            background-position: -370px center;
        }
        @include breakpoint($large) {
            background-image: url(../img/ppfam/step1/inner/bg-intro.jpg);
            background-repeat: no-repeat;
            background-position: -300px center;
        }
        @include breakpoint($xl) {
            background-image: url(../img/ppfam/step1/inner/bg-intro.jpg);
            background-repeat: no-repeat;
            background-position: -200px center;
        }
        @include breakpoint($mega16) {
            background-image: url(../img/ppfam/step1/inner/bg-intro.jpg);
            background-repeat: no-repeat;
            background-position: left center;
        }
    }
    &.step2 .wrap {
        @include breakpoint($medium) {
            background-image: url(../img/ppfam/step2/inner/bg-intro.jpg);
            background-repeat: no-repeat;
            background-position: -370px center;
        }
        @include breakpoint($large) {
            background-image: url(../img/ppfam/step2/inner/bg-intro.jpg);
            background-repeat: no-repeat;
            background-position: -300px center;
        }
        @include breakpoint($xl) {
            background-image: url(../img/ppfam/step2/inner/bg-intro.jpg);
            background-repeat: no-repeat;
            background-position: -200px center;
        }
        @include breakpoint($mega16) {
            background-image: url(../img/ppfam/step2/inner/bg-intro.jpg);
            background-repeat: no-repeat;
            background-position: left center;
        }
    }
    &.step3 .wrap {
        @include breakpoint($medium) {
            background-image: url(../img/ppfam/step3/inner/bg-intro.jpg);
            background-repeat: no-repeat;
            background-position: -370px center;
        }
        @include breakpoint($large) {
            background-image: url(../img/ppfam/step3/inner/bg-intro.jpg);
            background-repeat: no-repeat;
            background-position: -300px center;
        }
        @include breakpoint($xl) {
            background-image: url(../img/ppfam/step3/inner/bg-intro.jpg);
            background-repeat: no-repeat;
            background-position: -200px center;
        }
        @include breakpoint($mega16) {
            background-image: url(../img/ppfam/step3/inner/bg-intro.jpg);
            background-repeat: no-repeat;
            background-position: left center;
        }
    }
    .wrap {
        padding: 4em 0;
        background-image: none;
        @include breakpoint($medium) {
            display: flex;
            justify-content: flex-end;
        }
        @include breakpoint($mega16) {
            max-width: 1600px;
        }
    }
    .intro-text {
        text-align: center;
        @include breakpoint($medium) {
            text-align: left;
            width: 50%;
        }
    }
    .circle {
        width: 84px;
        height: 84px;
    }
    h1 {
        text-transform: uppercase;
        color: $blue;
        @include font-size(19);
        font-weight: 500;
        margin-bottom: .5em;
        @include breakpoint($medium) {
            @include font-size(23);
        }
        @include breakpoint($large) {
            @include font-size(27);
        }
        @include breakpoint($xl) {
            @include font-size(31);
        }
        &:after {
            content: '';
            width: 100px;
            height: 2px;
            background: $blue;
            display: block;
            margin: .5em auto;
            @include breakpoint($medium) {
                margin: .5em 0 0 0;
            }
        }
    }
    h2 {
        color: #30343F;
        @include font-size(28);
        @include breakpoint($medium) {
            @include font-size(34);
        }
        @include breakpoint($large) {
            @include font-size(39);
        }
        @include breakpoint($xl) {
            @include font-size(47);
        }
    }
    p {
        @include font-size(14);
        @include breakpoint($large) {
            @include font-size(16);
        }
        @include breakpoint($xl) {
            @include font-size(17);
        }
    }
}

.ppf-cols {
    margin-bottom: 3em;
    &:last-child {
        margin-bottom: 0;
    }
    h2 {
        //color: $blue;
    }
    h6 {
        color: $blue;
        //@include font-size(20);
        margin: 0 0 .5em;
        //font-weight: 300;
    }
    h3 {
        //@include font-size(21);
        //font-weight: 500;
    }
    &.with-border {
        display: flex;
        .column-one {
            margin-right: 2.5%;
            padding-right: 2.5%;
            border-right: 1px solid #979797;
        }
    }
}

.color-option-1 .ppf-cols {
    h2,h6 {
        color: $blue;
    }
}

.learn-more-band {
    @include clearfix;
    padding: 2em 0;
    background: $green;
    color: white;
    text-align: center;
    @include breakpoint($medium) {
        padding: 3em 0;
    }
    h6 {
        @include font-size(22);
        font-weight: 500;
        margin-bottom: 0.5em;
        @include breakpoint($medium) {
            margin-right: 4em;
            @include font-size(24);
        }
        @include breakpoint($xl) {
            @include font-size(26);
        }
    }
    .ba {
        transition: all, .25s;
        a {
            transition: all, 0.25s;
        }
        margin-bottom: 2em;
        @include breakpoint($medium) {
            margin-bottom: 0;
            margin-right: 1em;
            position: relative;
            top: 1.25em;
        }
        &:last-child {
            margin-bottom: 0;
            @include breakpoint($medium) {
                margin-right: 0;
            }
        }
        &:hover .text,
        &:hover .arrow {
            background-color: darken($green,10%);
        }
    }
    h6,.ba {
        @include breakpoint($medium) {
            display: inline-block;
        }
    }

}//.learn-more-band
