.site-main.simple {
	@include clearfix;
	@extend .section;

	.entry-content {
		@include breakpoint($medium) {
			@include grid(870,1200);
			float: right;
		}
	}//.entry-content

	.sidebar {
		@include breakpoint($medium) {
			@include grid(250,1200);
			float: left;
		}
	}


}//.simple
