.videos {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
        position: relative;
        margin: 0;
        padding: 0;
        float: left;
        width: 45%;
        margin-bottom: 10%;
        &:nth-child(odd) {
            margin-right: 10%;
        }
        @include breakpoint($medium) {
            @include grid(270,1200);
            @include mright(30,1200);
            margin-bottom: 3%;
            &:nth-child(odd) {
                margin: 0;
                @include mright(30,1200);
            }
            &:nth-child(4n+4) {
                margin-right: 0;
            }
            &:nth-child(4n+1) {
                clear: left;
            }
        }
    }
    a {
        position: relative;
        outline: none;
        text-decoration: none;
        display: block;
    }
    img {
        margin: 0;
    }
    h4 {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        color: white;
        background: $orange;
        padding: 1em;
        @include font-size(14);
        text-align: center;
        line-height: 120%;
        margin-bottom: 0;


    }
}//.videos
